{% extends "base.html" %}
{% load i18n %}
{% load permissions %}

{% block extracss %}
    <link type="text/css" href="{{ MEDIA_URL }}css/ui_override.css" rel="stylesheet" />
{% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.qtip-1.0.0-rc2.min.js"></script>
  <link media="screen" href="{{ MEDIA_URL }}css/tablesorter.css" type="text/css" rel="stylesheet">
  <script type="text/javascript">
  $(document).ready(function() { 
      $(".tablesorter").tablesorter(); 
  }); 
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/collapser.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
        tooltip('.collapse_toggler', '{% trans "Click to expand/collapse" %}', "topRight", "bottomLeft");
    });

	function confirmPost(){
	var agree=confirm("Are you sure you want to delete this station?");
	if (agree)
		return true ;
	else
		return false ;
	}

  </script>
{% endblock %}

{% block content %}

    <p><h2>Station Details
	{% if enabled_user_content %}
		{% if request.user|can_edit:station %}
		<sup class='sup_link'>
			<a href='{% url station_edit station.id%}'>edit</a>
		{% if request.user|can_delete:station %}
			,
			<a onClick='return confirmPost()' href='{% url station_delete station.id%}'>delete</a>
		{% endif %} 
		</sup>
		{% endif %}
	{% endif %} 
    </h2></p>
        {% if station %}
        <table class="definition tablesorter table_container">
            <tr class="{% cycle 'odd' 'even' as rowalts %}">
                <th>{% trans 'ID' %}</th>
                <td colspan='2'>{{ station.id }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Name' %}</th>
                <td colspan='2'>{{ station.name }}</td>
            </tr>
              <tr class="{% cycle rowalts %}">
                <th>{% trans 'Short Name' %}</th>
                <td colspan='2'>{{ station.short_name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Remarks' %}</th>
                <td colspan='2'>{{ station.remarks }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Basin' %}</th>
                <td colspan='2'>{{ station.water_basin.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Division' %}</th>
                <td colspan='2'>{{ station.water_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Political Division' %}</th>
                <td colspan='2'>{{ station.political_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Abscissa' %}</th>
                <td colspan='2'>{{ station.abscissa }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Ordinate' %}</th>
                <td colspan='2'>{{ station.ordinate }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'SRID' %}</th>
                <td colspan='2'>{{ station.srid }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Approximate' %}</th>
                <td colspan='2'>{{ station.approximate }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Altitude' %}</th>
                <td colspan='2'>{{ station.altitude }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'ASRID' %}</th>
                <td colspan='2'>{{ station.asrid }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Owner' %}</th>
                <td colspan='2'>
                    {{ station.owner }}
                </td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Type' %}</th>
                <td colspan='2'>{{ station.type.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Is Active' %}</th>
                <td colspan='2'>{{ station.is_active }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Is Automatic' %}</th>
                <td colspan='2'>{{ station.is_automatic }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Start Date' %}</th>
                <td colspan='2'>{{ station.start_date }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'End Date' %}</th>
                <td colspan='2'>{{ station.end_date }}</td>
            </tr>
			{% if enabled_user_content %}
			<tr class="{% cycle rowalts %}">
                <th>{% trans 'Creator' %}</th>
				{% if station.creator %}
					<td colspan='2'><a href="{% url profiles_profile_detail station.creator %}" />{{ station.creator }}</td>
				{% else %}
					<td colspan='2'>{% trans "Unknown" %}</td>
				{% endif %}
			{% endif %}
            </tr>

            <!-- Overseers table -->
            <tr>
                <th>{% trans 'Overseers' %}</th>
                <td colspan='2'>
                    {% if station.overseers.count %}
                    <table class="tablesorter">
                        <tbody>
                        {% for overseer in station.overseers.all %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ overseer.person.first_name }} {{ overseer.person.last_name }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </td>
            </tr>
            <!-- Gentity Alternative Codes table -->
            <tr>
                <th>{% trans 'Station (Gentity) Alternative Codes' %}</th>
                {% if station.gentityaltcode_set.count %}
                <td>
                    <a class="collapse_toggler">
                            <img src="{{ MEDIA_URL }}images/icons/folder_open.png" />
                    </a>
                </td>
                <td>
                    <table class="tablesorter">
                        <thead>
                            <tr>
                                <th>{% trans 'ID' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>{% trans 'Type' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for code in station.gentityaltcode_set.all %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ code.id }}</td>
                            <td>{{ code.date }}</td>
                            <td>{{ code.type }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                {% else %}
                <td colspan="2">
                    {% trans "No data available" %}
                </td>
                {% endif %}
            </tr>
            <!-- Gentity File table -->
            <tr>
                <th>{% trans 'Station (Gentity) Files' %}</th>
                {% if station.gentityfile_set.count %}
                <td>
                    <a class="collapse_toggler">
                        <img src="{{ MEDIA_URL }}images/icons/folder_open.png" />
                    </a>
                </td>
                <td>
                    <table class="tablesorter">
                        <thead>
                            <tr>
                                <th>{% trans 'ID' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>{% trans 'File Type' %}</th>
                                <th>{% trans 'Content' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Remarks' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for file in station.gentityfile_set.all %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ file.id }}</td>
                            <td>{{ file.date }}</td>
                            <td>{{ file.file_type }}</td>
                            <td>{{ file.conent }}</td>
                            <td>{{ file.descr }}</td>
                            <td>{{ file.remarks }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                {% else %}
                <td colspan="2">
                    {% trans "No data available" %}
                </td>
                {% endif %}
            </tr>
            <!-- Gentity Event table -->
            <tr>
                <th>{% trans 'Station (Gentity) Events' %}</th>
                {% if station.gentityevent_set.count %}
                <td>
                    <a class="collapse_toggler">
                            <img src="{{ MEDIA_URL }}images/icons/folder_open.png" />
                    </a>
                </td>
                <td>
                    <table class="tablesorter">
                        <thead>
                            <tr>
                                <th>{% trans 'ID' %}</th>
                                <th>{% trans 'Date' %}</th>
                                <th>{% trans 'Type' %}</th>
                                <th>{% trans 'User' %}</th>
                                <th>{% trans 'Report' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in station.gentityevent_set.all %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td>{{ event.id }}</td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.user }}</td>
                            <td>{{ event.report }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                {% else %}
                <td colspan="2">
                    {% trans "No data available" %}
                </td>
                {% endif %}
            </tr>
            <!-- Instrument table -->
            <tr>
                <th>{% trans 'Instruments' %}</th>
                {% if station.instrument_set.count %}
                <td> 
                    <a class="collapse_toggler">
                        <img src="{{ MEDIA_URL }}images/icons/folder_open.png" />
                    </a>
                </td>
                <td>
                    <table class="tablesorter">
                        <thead>
                            <tr>
                              <th>{% trans "ID" %}</th>
                              <th>{% trans "Name" %}</th>
                              <th>{% trans "Type" %}</th>
<!--                              <th>{% trans "Remarks" %}</th>-->
                              <th>{% trans "Manufacturer" %}</th>
                              <th>{% trans "Model" %}</th>
                              <th>{% trans "Is Active" %}</th>
                              <th>{% trans "Start Date" %}</th>
                              <th>{% trans "End Date" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for instrument in station.instrument_set.all %}
                        {% with instrument.id as instrument_id %}
                        {% url instrument_detail instrument_id as instrument_url %}
                        <tr class="{% cycle 'odd' 'even' %}">
                            <td><a href="{{ instrument_url }}">{{ instrument_id }}</a></td>
                            <td>{{ instrument.name }}</td>
                            <td>{{ instrument.type }}</td>
<!--                            <td>{{ instrument.remarks }}</td>-->
                            <td>{{ instrument.manufacturer }}</td>
                            <td>{{ instrument.model }}</td>
                            <td>{{ instrument.is_active }}</td>
                            <td>{{ instrument.start_date }}</td>
                            <td>{{ instrument.end_date }}</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                {% else %}
                <td colspan="2">
                    {% trans "No data available" %}
                </td>
                {% endif %}
            </tr>
            <!-- Timeseries table -->
            <tr>
                <th>{% trans 'Timeseries' %}</th>
                {% if station.timeseries.count %}
                <td>
                    <a class="collapse_toggler">
                        <img src="{{ MEDIA_URL }}images/icons/folder_open.png" />
                    </a>
                </td>
                <td>
                    <table class="tablesorter">
                        <thead>
                            <tr>
                              <th>{% trans "ID" %}</th>
                              <th>{% trans "Name" %}</th>
                              <th>{% trans "Variable" %}</th>
                              <th>{% trans "Unit Of Measurement" %}</th>
                              <th>{% trans "Remarks" %}</th>
                              <th>{% trans "Instrument" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for t in station.timeseries.all %}
                        {% with t.id as t_id %}
                        {% url timeseries_detail t_id as timeseries_url %}
                        <tr>
                            <td><a href="{{ timeseries_url }}">{{ t_id }}</a></td>
                            <td>{{ t.name }}</td>
                            <td>{{ t.variable }}</td>
                            <td>{{ t.unit_of_measurement }}</td>
                            <td>{{ t.remarks }}</td>
                            <td>{{ t.instrument }}</td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                {% else %}
                <td colspan="2">
                    {% trans "No data available" %}
                </td>
                {% endif %}
            </tr>
        </table>
        {% endif %}
{% endblock %}
