{% extends "station_list_common.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load stationlist_filter %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/map_page.css"/>
    <link type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ MEDIA_URL }}css/maptable.css" rel="stylesheet" />
    <link type="text/css" href="{{ MEDIA_URL }}css/ui_override.css rel="stylesheet" />
{% endblock %} 

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_calls.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hide_panel.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hide_disable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/gis.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.getUrlParam.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/checkbox_store.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/1.5/js/dojo/dijit/themes/tundra/tundra.css">
    <script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=1.5"></script>
    <script type="text/javascript">djConfig = { parseOnLoad:true }</script>
    <script type="text/javascript">


	// GIS init stuff
	var map, stations=[];
    var queryStations, queryStationsTask;
	var queryTask, query, featureSet;
    var Server = "147.102.160.29"; 
	var StList = [];

	// THYAMIS "147.102.160.29"; //Hermes "192.168.200.249"; //Server 85.72.53.43 if outside GEOSET
    var defaultSymbol, highlightSymbol;
    var initialExtent;

    dojo.require("esri.map");
    dojo.require("esri.toolbars.draw");
    dojo.require("esri.tasks.query");
    dojo.require("esri.tasks.geometry");

//	dojo.addOnLoad( function() { WhenSelected(); });
    dojo.addOnLoad( function() {init(); });

	var sids = [];
    var elements = [];
	var oTable;
	var jData = [];

	
	function loadAllStations() {
		jData = [];
		oTable.fnDraw();		
	}

    $(document).ready(function(){


	oTable = $('#station_table').dataTable({
		"bJQueryUI": true,
		"sPaginationType": "full_numbers",
		"aaSorting": [[ 1, "asc" ]],
		"bServerSide": true,
		"bProcessing": true,
		"sAjaxSource": "/stations/info/",
		"sDom": '<"top"i>rt<"bottom"lp<"clear">',
//	to enable filtering use the one below
//		"sDom": '<"top"i>rt<"bottom"flp<"clear">',
		"bAutoWidth": false,
        "aoColumns" : [
            { "bSortable": false, "sWidth": "30px" },
            { "asSorting": [ "desc", "asc" ] , "sWidth": "40px"},
            { "asSorting": [ "desc", "asc" ] , "sWidth": "100px"},
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false }
        ],
		"fnServerData": function (sSource, aoData, fnCallback) {
			if ( ! jData.length < 1  ) {
				aoData.push({ "name": "station_list", "value": jData});
			}
            $.ajax ( {
              "dataType": 'json',
              "type": "POST",
              "url": sSource,
			  "data": aoData,
              "success": fnCallback
            } );
         }
	});


        /* Buttons hovering handling */
        $('.fg-button').hover(
            function(){ 
                $(this).addClass("ui-state-hover"); 
            },
            function(){ 
                $(this).removeClass("ui-state-hover"); 
            }
        );
        $('#help_dialog').dialog({
            bgiframe: true,
            height: 300,
            width: 300,
            modal: true,
            autoOpen: false
        });

        $('#help_trigger').click(function(){
            $('#help_dialog').dialog('open')
        });

        $('.station_selected_ids').click(toggleCheck);

        tooltip('.qtip_hidePanel', '{% trans "Click to hide the station list" %}', "topRight", "bottomLeft");
        tooltip('.qtip_hideMap', '{% trans "Click to hide the map area" %}', "topLeft", "bottomRight");
        tooltip('.qtip_showPanel', '{% trans "Click to expand the station list" %}', "topRight", "bottomLeft");
        tooltip('.qtip_showMap', '{% trans "Click to expand the map" %}', "topLeft", "bottomRight");
        tooltip('#show_stations', '{% trans "Locate stations on the map" %}', "topRight", "bottomRight");
        tooltip('#select_stations', '{% trans "Select stations to locate on the map" %}', "topRight", "bottomLeft");


        $('#select_stations').click(function (){
            var tk = $("input:checked[class=station_selected_ids]")
            var ut = $("input:not(:checked)[class=station_selected_ids]")

           tk.each(function(){
				$(this).attr("checked","");
				sids = removeItem(sids, $(this).attr("value"));
			});

			ut.each(function(){
				$(this).attr("checked","checked");
				sids.push($(this).attr("value"));
			});

        });

//		$('#political_division').change( function() {
//			val = $(this).attr('value')
//			render_dist_filter(val);
//		});
//
//        if ( ! $('#political_division').attr(':disabled') ) { 
//            render_dist_filter($('#political_division').attr('value'));
//        }
//		
//		$('#district').change( function() {
//			val = $(this).attr('value')
//			render_pref_filter(val);
//		});
//
//		$('#filter_submit').click( function() {
//			station_search();
//		});

        $("#map_stations").click(function(){
			slist = StList.join(',');
			jData = slist; 
			oTable.fnDraw();
		});


		$("#show_stations").click(function(){
			// get all stations ids from checkboxes and url address
			slist = [];
			slist = "(";
			for ( i in sids ) {
				slist += '\''+sids[i]+'\',';
			}
			if (slist.length > 2) {
				slist = slist.substring(0,slist.length-1);
			}
			slist += ")";
			
			//feed ids to the GIS calling function
			StationSelect(slist);
	});

    });

    </script>


{% endblock %}


{% block content %}
<div id="mapcontainer">

    <div id="map_nav"> 
        <div id="panel_toggle"> 
            <a id="hidePanel" class="panel_togglers qtip_hidePanel"> 
                <img id="hp" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_previous.png" alt="Hide Panel"></img>
            </a>
            List
            <a id="showPanel" class="panel_togglers qtip_showPanel">
                <img id="sp" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_next_disabled.png" alt="Show Panel"></img>
            </a>
                <button type="submit" id="show_stations" style="margin-left:5px" class="ui-state-default ui-corner-all fg-button"><span class="ui-icon ui-icon-image fg-button-icon-left"></span>&nbsp;{% trans "Locate Stations" %}</button>
        </div>
        <div id="map_toggle">
            <button type="button" id="map_stations" style="margin-right:5px" class="ui-state-default ui-corner-all fg-button" ><span class="ui-icon ui-icon-transferthick-e-w fg-button-icon-left"></span>&nbsp;{% trans "List Stations" %}</button>
             <a id="showMap" class="panel_togglers qtip_showMap"> 
                <img id="sm" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_previous_disabled.png" alt="Show Map"></img>
            </a>
            Map
            <a id="hideMap" class="panel_togglers qtip_hideMap">
                <img id="hm" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_next.png" alt="Hide Map"></img>
            </a>
        </div>
    </div>

    <div id="leftofmap"> 
		{% comment %}	
		<h3>{% trans 'Searching' %}</h3>
		<div class="searchform">
		  <form action="." method="GET">
			<label for="q">{% trans "Find Stations by name, description, etc." %}</label><br/>
			<input type="hidden" name="check" value="search">
			<input type="text" name="q" size="40" value="{{ query|escape }}">
			<input class="i16 magnifier long" type="submit" value="{% trans "Search" %}"	/>
			<br />
			<input type="checkbox" name="ts_only" value="True" {% if request.GET.ts_only %} checked="checked" {% endif %}> {% trans "Display only stations with timeseries"%} <br>
		  </form>
		</div>
        <br \>
		{% endcomment %}
        {% block filters %}
        {% comment %}
          <h3>{% trans 'Filter' %}
            <sup>
                <a id="help_trigger" style="cursor:pointer">
                    <img src="{{ MEDIA_URL }}images/icons/help.png">
                </a>
            </sup>
          </h3>
          <fieldset class="ui-corner-all" style="padding-top:1em;border-style:solid;border-color:#DDD;max-width:520px;">
          {% filter_table request "False" %}
          </fieldset>
        {% endcomment %}
        {% endblock %}
        <h3 style="display:inline">{% trans 'Station Catalogue' %}</h3>
    	<button style="float:right" onClick="loadAllStations();">Load all Stations</button>
        {% if station_list %}
        <table id='station_table' class="display" style="width:100%"> 
          <thead>
            <tr>
              <th width="50"><a id='select_stations' style="cursor:pointer">Select</a></th>
              <th>{% anchor id 'ID' %}</th>
              <th>{% anchor name 'Name' %}</th>
              <th>{% anchor water_basin 'Water Basin' %}</th>
              <th>{% anchor water_division 'Water Division' %}</th>
              <th>{% anchor political_division 'Political Division' %}</th>
              <th>{% anchor owner 'Owner' %}</th>
              <th>{% anchor type 'Type' %}</th>
            </tr>
          </thead>

          <tbody id="tbody_list">
          </tbody>
        </table>
		<br />
        {% else %}
          <p>{% trans "No entries found." %}</p>
          <p>{% trans "You may want to try again with a different filter." %}</p>
        {% endif %}
    </div>

    <div id="mapcontent" class="tundra"> 

    <b>SELECT TOOLS :</b>
    <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.EXTENT);map.hidePanArrows();map.hideZoomSlider();">Box</button>
    <button dojoType="dijit.form.Button" onClick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);map.hidePanArrows();map.hideZoomSlider();">Freehand Polygon</button>
    <button dojoType="dijit.form.Button" onClick="toolbar.deactivate();map.showPanArrows();map.showZoomSlider();">Deactivate</button>
    <button dojoType="dijit.form.Button" onClick="map.setExtent(initialExtent,false);toolbar.deactivate();map.showPanArrows();map.showZoomSlider();">Reload Map</button>
    <br /><b>SHOW STATIONS WITHIN AN EXTENT</b>
        <div id="map_data" class="tundra" style="border:1px solid #ccc;" >
        </div>
    </div>

</div>
{% endblock %}
