{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load form_as_table %} 

{% block extra_head %}
<link type="text/css" href="{% static "css/smoothness/jquery-ui-1.7.2.custom.css" %}" rel="stylesheet" />
<link type="text/css" href="{% static "css/ui_override.css" %}" rel="stylesheet" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
		$("[id$='_date']").datepicker({ dateFormat: 'yy-mm-dd' });
	});
</script>

{% endblock %}

{% block title %}
{% if form.instance.pk %}
	{% trans "Edit Overseer"  %}
{% else %} 
	{% trans "Add Overseer" %}
{% endif %}
{% endblock %}

{% block content %}

<form method="post" action="" class="wide" enctype="multipart/form-data">
    {% csrf_token %} 
    {% if form.instance.pk %}
            <h3>
                {% trans "Edit Overseer details:" %}
            </h3>
        {% else %} 
            <h3>{% trans "Fill the Overseer details:" %}</h3>
    {% endif %}

    {% if form.errors %}
        <p class="fielderrors">{% trans "Please correct the errors below: " %}{{ form.field_errors }}</p>
    {% endif %}
	<form method="post" action="" class="wide">
        {% csrf_token %} 
		<table class="table_container">
			<tbody>
				{% form_as_table_rows form  %}
			</tbody>
		</table>

	<p class="submit"><input type="submit" value="{% trans "Submit Changes" %} &rarr;"></p>
    </form>
{% endblock %}
