{% extends "station_list_common.html" %}
{% load i18n %}
{% block title %} {% trans 'Enhydris - Stations' %}{% endblock %}
{% load sorting_tags %}
{% load stationlist_filter %}
{% load render_table from django_tables2 %}

{% block js-globals %}
    <script type="text/javascript">var map_mode=1;</script>
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css">
    {% if use_open_layers %}
    <style type="text/css">
    #map {
        width: 560px;
        height: 440px;
        border: 1px solid #eee;
        z-index: 1;
    }
    </style>{% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
    $(document).ready(function() {
        $('#political_division').change( function() {
            val = $(this).attr('value');
            render_dist_filter(val);
        });

        $('#district').change( function() {
            val = $(this).attr('value');
            render_pref_filter(val);
        });

        if ( ! $('#political_division').attr(':disabled') ) { 
           render_dist_filter($('#political_division').attr('value'));
        }

        $('#filter_submit').click( function() {
            station_search();
        });
        
        $(".tablehighlighted tbody tr").hover( 
             function() {  // mouseover 
                  $(this).addClass('highlight'); 
             }, 
             function() {  // mouseout 
                  $(this).removeClass('highlight'); 
        });

		$(function() {
            $("#tabs").tabs();
        });


	  // Reset Font Size
	  var originalFontSize = $('.data_table').css('font-size');
		$(".resetFont").click(function(){
		$('.data_table').css('font-size', originalFontSize);
	  });
	  // Increase Font Size
	  $(".increaseFont").click(function(){
		var currentFontSize = $('.data_table').css('font-size');
		var currentFontSizeNum = parseFloat(currentFontSize, 10);
		var newFontSize = currentFontSizeNum + 0.5;
		$('.data_table').css('font-size', newFontSize);
		return false;
	  });
	  // Decrease Font Size
	  $(".decreaseFont").click(function(){
		var currentFontSize = $('.data_table').css('font-size');
		var currentFontSizeNum = parseFloat(currentFontSize, 10);
		var newFontSize = currentFontSizeNum - 0.5;
		$('.data_table').css('font-size', newFontSize);
		return false;
	  });

    });

    function GetRectAreaResults(){
        var aurl=window.location.pathname;
        var urlparams = getUrlVars();
        urlparams['bounded']=map.getExtent().transform(new
        OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326")).toBBOX(7);
        var aarray = [];
        var i = 0;
        for(param in urlparams){
            if(param=='page')
                continue;
            aarray[i] = param+"="+urlparams[param];
            i++;
        }
        window.location=encodeURI(aurl+'?'+aarray.join('&'));
    }
    </script>
{% endblock %}

{% block content %}
    {% autosort station_list %}
    
    <div id="tabs">
        <ul>
            <li class="noborder"><a href="#tabs-1">{% trans "List" %}</a></li>
            <li class="noborder"><a href="#tabs-2">{% trans "Advanced Search" %}</a></li>
        </ul>

        <div id="tabs-1" >
    {% if use_open_layers %}
          <div>
           <div style="float: right;">
                <div id="map" style="float: left;">
                <div id="map_progress" style="position: absolute; margin-top:212px; margin-left: 272px; z-index: 5000;"></div></div>
           </div>
           <div style="float: left;">
    {% endif %}
             <div>
                  <h3>{% trans 'Searching' %}</h3>
					<div class="searchform">
					  <form action="{% url "station_list" %}" method="get">
						<p><label>{% trans "Find Stations by name, description, etc." %}</label></p>
						<div><input type="hidden" name="check" value="search" /></div>
						<div><input type="text" name="q" size="40" value="{{ query|escape }}" />
						<input class="i16 magnifier long" type="submit" value="{% trans "Search" %}" 
							{% if request.GET.ts_only %} checked {% endif %} />
						<br /></div>
						<div><input type="checkbox" name="ts_only" value="True" {% if request.GET.ts_only %} checked="checked" {% endif %} /><span>{% trans "Display only stations with timeseries"%}</span> <br /></div>
					  </form>
					</div>
 
                    {% if search %}
                    <div class="ui-widget">
                        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
                            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em; color:#4C0D8C;"></span>
                            {% trans "Search results obtained" %} ::
                            <a href="{% url "station_list" %}">{% trans " Back to all results" %}</a> ::
                        </div>
                    </div>
                    {% endif %}
                    {% if advanced_search %}
                    <div class="ui-widget">
                        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
                            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                            {% trans "Filter based search results obtained" %} ::
                            <a href="{% url "station_list" %}">{% trans " Back to all results" %}</a> ::
                        </div>
                    </div>
                    {% endif %}
             </div>


           <h3 style="font-size:14pt;font-weight:200;">
               {% trans 'Station Catalogue' %}
           </h3>
			
           {% if perms.hcore.add_station %}
           <p class="anchor_override" style="cursor:pointer;text-align:left">
                   <a href="{% url "station_add" %}">
                       <img src="{{STATIC_URL}}admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another" border="0"/>
                       {% trans "Add a new station " %}
                   </a>
           </p>
           {% endif %}
      
    {% if use_open_layers %}
         </div>
         <button type="button" onclick="GetRectAreaResults();">{% trans 'Filter results by map viewport' %}</button>
        </div>
    {% endif %}

            {% if station_list %}
                    {% render_table table %}
            {% else %}
              <p>{% trans "No entries found." %}</p>
              <p>{% trans "You may want to try again with a different filter." %}</p>
            {% endif %}
        	<br />
        </div>
        <div id="tabs-2">
              {% block filters %}
              <div style="padding: 10px;">
              <h3>{% trans 'Filter' %}</h3>
              {% filter_table request "True" %}
              {% endblock %}
              </div>
        </div>
    </div>

{% endblock %}
