{% load i18n %}
{% load stationlist_filter %}
        <table class="tablesorter definition" style="font-family:Verdana,Arial,sans-serif;font-size:0.85em;">
          <tbody>
            <tr>
                <th>
                    {% trans 'Country' %}
                </th>
                <td>
                {% if get_vars.political_division %}
                    <select title="Select a Country" name="political_division" id="political_division" class="hide_disable">
                {% else %}
                    <select title="Select a Country" name="political_division" id="political_division" class="hide_disable" disabled="disabled">
                {% endif %}
                {% with country.0 as cur_country %}
				{% if not country.0 %} 
				<option value="-1" selected="selected" disabled="disabled">Select a Country</option>
                    {% for s in political_division %}
                      {% if get_vars.political_division %}
                        {% with get_vars.political_division|intvalue as id_int %}
                        {% ifequal s.id id_int %}
                          <option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
                        {% else %}
                          <option value="{{ s.id }}">{{ s.name }}</option>
                        {% endifequal %}
                        {% endwith %}
                      {% else %}
                        <option value="{{ s.id }}">{{ s.name }}</option>
                      {% endif %}
                    {% endfor %}
				{% else %} 
					{% with cur_country.id|intvalue as c_id %}
						<option value="{{ c_id }}" selected="selected">{{ cur_country.name }}</option>
					{% endwith %}
				{% endif %} 
                {% endwith %}
                    </select>
                </td>
                <td><a class="hide_disable_toggler"> On/Off </a></td>
                <td rowspan="7" style="border:0;padding-left:3em;vertical-align:top">
                    <div {% ifequal help_inline "False" %}style="display:none;"{% endifequal %} id="help_dialog" title="Using Filters" >
						{% ifequal help_inline "True" %}
						<div style="text-align:left">
							<h3 style="display:inline"><span class="i16 help">{% trans "Using Filters" %}</span></h3>
						</div>

						<div class="ui-widget-content ui-corner-all help_widget">
						{% else %}
						<p style="font-size:0.8em">
						{% endifequal %}
							{% blocktrans %}
							In this tab you can select to narrow down your station results based on 
							some filter values. In the country section, you can select stations from
							only a specific country. By enabling this, you can then also specify a 
							subregion of the country ("District", "Prefecture"). There are also other
							options such as the filtering based on station owner (This can be a person
							or organization.), type of station etc.
							{% endblocktrans %}
						{% ifequal help_inline "True" %}
						</div>
						{% else %}
						</p>
						{% endifequal %}
					</div>
				</td>
			</tr>
		<tr>
			<th>
				{% trans subdiv1 %} 
			</th>
			<td>
			{% if get_vars.district %}
				<select name="district" class="hide_disable" id="district">
			{% else %}
				<select name="district" class="hide_disable" id="district" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">Select a {{ subdiv1 }}</option>
				{% for s in district %}
				  {% if get_vars.district %}
					{% with get_vars.district|intvalue as id_int %}
					{% ifequal s.id id_int %}
					  <option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
					{% else %}
					  <option value="{{ s.id }}">{{ s.name }}</option>
					{% endifequal %}
					{% endwith %}
				  {% else %}
					<option value="{{ s.id }}">{{ s.name }}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>
		<tr>
			<th>
				{% trans subdiv2 %}
			</th>
			<td>
			{% if get_vars.prefecture %}
				<select name="prefecture" class="hide_disable" id="prefecture">
			{% else %}
				<select name="prefecture" class="hide_disable" id="prefecture" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">Select a {{ subdiv2 }} </option>
				{% for s in prefecture %}
				  {% if get_vars.prefecture %}
					{% with get_vars.prefecture|intvalue as id_int %}
					{% ifequal s.id id_int %}
					  <option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
					{% else %}
					  <option value="{{ s.id }}">{{ s.name }}</option>
					{% endifequal %}
					{% endwith %}
				  {% else %}
					<option value="{{ s.id }}">{{ s.name }}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>

		<tr>
			<th>
				{% trans 'Water Division' %}
			</th>
			<td>
			{% if get_vars.water_division %}
				<select name="water_division" class="hide_disable" id="water_division">
			{% else %}
				<select name="water_division" class="hide_disable" id="water_division" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">Select a Water Division</option>
				{% for s in water_division %}
				  {% if get_vars.water_division %}
					{% with get_vars.water_division|intvalue as id_int %}
					  {% ifequal s.id id_int %}
						<option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
					  {% else %}
						<option value="{{ s.id }}">{{ s.name }}</option>
					  {% endifequal %}
					{% endwith %}
				  {% else %}
					<option value="{{ s.id }}">{{ s.name }}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>
		<tr>
			<th>
				{% trans 'Water Basin' %}
			</th>
			<td>
			{% if get_vars.water_basin %}
				<select name="water_basin" class="hide_disable" id="water_basin">
			{% else %}
				  <select name="water_basin" class="hide_disable" id="water_basin" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">Select a Water Basin</option>
				{% for s in water_basin %}
				  {% if get_vars.water_basin %}
					  {% with get_vars.water_basin|intvalue as id_int %}
						{% ifequal s.id id_int %}
						  <option value="{{ s.id }}" selected="selected">{{ s.name }}</option>
						{% else %}
						  <option value="{{ s.id }}">{{ s.name }}</option>
						{% endifequal %}
					  {% endwith %}
				  {% else %}
					<option value="{{ s.id }}">{{ s.name }}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>
		<tr>
			<th>
				{% trans 'Variable' %}
			</th>
			<td>
			{% if get_vars.variable %}
				<select name="variable" class="hide_disable" id="variable">
			{% else %}
				<select name="variable" class="hide_disable" id="variable" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">{% trans "Select an Variable" %}</option>
				{% for v in variable %}
				  {% if get_vars.variable %}
					  {% with get_vars.variable|intvalue as id_int %}
						{% ifequal v.id id_int %}
						  <option value="{{ v.id }}" selected="selected">{{ v }}</option>
						{% else %}
						  <option value="{{ v.id }}">{{ v }}</option>
						{% endifequal %}
					  {% endwith %}
				  {% else %}
					<option value="{{ v.id }}">{{ v }}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>
		<tr>
			<th>
				{% trans 'Owner' %}
			</th>
			<td>
			{% if get_vars.owner %}
				<select name="owner" class="hide_disable" id="owner">
			{% else %}
				<select name="owner" class="hide_disable" id="owner" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">Select an Owner</option>
				{% for s in owner %}
				  {% if get_vars.owner %}
					  {% with get_vars.owner|intvalue as id_int %}
						{% ifequal s.id id_int %}
						  <option value="{{ s.id }}" selected="selected">{{ s }}</option>
						{% else %}
						  <option value="{{ s.id }}">{{ s }}</option>
						{% endifequal %}
					  {% endwith %}
				  {% else %}
					<option value="{{ s.id }}">{{ s}}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>
		<tr>
			<th style="border-bottom:0">
				{% trans 'Type' %}
			</th>
			<td style="border-bottom:0">
			{% if get_vars.type %}
				<select name="type" class="hide_disable" id="type">
			{% else %}
				<select name="type" class="hide_disable" id="type" disabled="disabled">
			{% endif %}
			<option value="-1" selected="selected" disabled="disabled">Select an Station Type</option>
				{% for s in type %}
				  {% if get_vars.type %}
					  {% with get_vars.type|intvalue as id_int %}
						{% ifequal s.id id_int %}
						  <option value="{{ s.id }}" selected="selected">{{ s.descr }}</option>
						{% else %}
						  <option value="{{ s.id }}">{{ s.descr }}</option>
						{% endifequal %}
					  {% endwith %}
				  {% else %}
					<option value="{{ s.id }}">{{ s.descr }}</option>
				  {% endif %}
				{% endfor %}
				</select>
			</td>
			<td style="border-bottom:0"><a class="hide_disable_toggler"> On/Off </a></td>
		</tr>
		<tr>
		<td colspan="2" style="text-align:center;padding-left:2em;border-top:0;border-bottom:0">
            <div><input type="checkbox" id="ts_only" name="ts_only" value="True" {% if get_vars.ts_only %} checked="checked" {% endif %} /> {% trans "Display only stations with timeseries"%} <br /></div>
            </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align:center;padding-left:2em;border-top:0;border-bottom:0">
                    <p>
                        <input type="submit" class="i16 magnifier" id="filter_submit" />
                    </p>
                </td>
            </tr>
		</tbody>
        </table>

		<!-- The GET params that must also be included -->
		{% for key,value in filter_vars %}
		    <input type="hidden" name="{{ key }}" value="{{ value }}" />
        {% endfor %}
