{% extends "base.html" %}
{% load i18n %}
{% load permissions %}
{% block title %} {% trans 'Enhydris - Instrument' %} - {%if instrument %}{{ instrument.name }} - {{ instrument.type }}, {% trans 'Station:' %} {{ instrument.station }}{% endif %}
{% endblock %}
{% block extracss %}
    <link type="text/css" href="{{ MEDIA_URL }}css/ui_override.css" rel="stylesheet" />
    <script type="text/javascript">

    function confirmPost(){
        var agree=confirm("Are you sure you want to delete this timeseries?");
        if (agree)
            return true ;
        else
            return false ;
	}

	</script>

{% endblock %}

{% block content %}
    <h2>{% trans 'Instrument Details' %}
	{% if enabled_user_content %}
            {% if request.user|can_edit:instrument.station %}
            <sup class='sup_link'>
                <a href='{% url instrument_edit instrument.id%}'>edit</a>
                ,
                <a onClick='return confirmPost()' href='{% url instrument_delete instrument.id%}'>delete</a>
            {% endif %} 
            </sup>
        {% endif %}
	</h2>
        {% if instrument %}
        <table class="definition tablesorter table_container">
            <tr class="{% cycle 'odd' 'even' as rowalts %}">
                <th>{% trans 'ID' %}</th>
                <td>{{ instrument.id }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Related Station' %}</th>
                <td><a href="{% url station_detail instrument.station.id %}">{{ instrument.station }}</a></td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Name' %}</th>
                <td>{{ instrument.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Type' %}</th>
                <td>{{ instrument.type }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Remarks' %}</th>
                <td>{{ instrument.remarks }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Manufacturer' %}</th>
                <td>{{ instrument.manufacturer }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Model' %}</th>
                <td>{{ instrument.model }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Is Active' %}</th>
                <td>{{ instrument.is_active }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Start Date' %}</th>
                <td>{{ instrument.start_date }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'End Date' %}</th>
                <td>{{ instrument.end_date }}</td>
            </tr>
        </table>
        {% endif %}
{% endblock %}
