{% extends "station_list_common.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load stationlist_filter %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/map_page.css"/>
    <link type="text/css" href="{{ MEDIA_URL }}css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ MEDIA_URL }}css/maptable.css" rel="stylesheet" />
    <link type="text/css" href="{{ MEDIA_URL }}css/ui_override.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://serverapi.arcgisonline.com/jsapi/arcgis/1.6/js/dojo/dijit/themes/soria/soria.css" />
    <link type="text/css" href="{{ MEDIA_URL }}css/jquery.fancybox-1.3.1.css" rel="stylesheet" />
    <link type="text/css" href="{{ MEDIA_URL }}css/tipTip.css" rel="stylesheet" />
{% endblock %} 

{% block extra_head %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ajax_calls.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hide_panel.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/hide_disable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/gis.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.getUrlParam.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/checkbox_store.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tipTip.minified.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fancybox-1.3.1.js"></script>
    <script type="text/javascript" src="http://serverapi.arcgisonline.com/jsapi/arcgis/?v=1.6"></script>

    <script type="text/javascript">
/*	<![CDATA[ */
	djConfig = { parseOnLoad:true }
    /* GIS init stuff */
    var map, stations=[];
    var queryStations, queryStationsTask;
    var queryTask, query, featureSet;
    var toolbar;
    var Server = "{{ gis_server }}" ; 

    var StList = [];

    /* THYAMIS "147.102.160.29";Hermes "192.168.200.249"; //Server 85.72.53.43 if outside GEOSET */
    var defaultSymbol, highlightSymbol;
    var initialExtent;

    dojo.require("esri.map");
    dojo.require("esri.toolbars.draw");
    dojo.require("esri.tasks.query");
    dojo.require("esri.tasks.geometry");

/*    dojo.addOnLoad( function() { WhenSelected(); }); */
    {% if gis_server %} 
        dojo.addOnLoad( function() {init(); });
    {% endif %}

    var sids = [];
    var elements = [];
    var oTable;
    var jData = [];
	var clearFilter = false;

    
    function loadAllStations() {
        jData = [];
		clearFilter = true;
		sids = [];
        clear_cboxes(); 
        oTable.fnDraw();        
    }

    $(document).ready(function(){

    oTable = $('#station_table').dataTable({
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "aaSorting": [[ 1, "asc" ]],
        "bServerSide": true,
        "bProcessing": true,
        "sAjaxSource": "/stations/info/",
/*    to enable filtering use the one below */
        "sDom": '<"top"if<"clear">rt<"bottom"lp<"clear">', 
        "bAutoWidth": false,
        "aoColumns" : [
            { "bSortable": false, "sWidth": "30px" },
            { "asSorting": [ "desc", "asc" ] , "sWidth": "40px"},
            { "asSorting": [ "desc", "asc" ] , "sWidth": "100px"},
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false },
            { "asSorting": [ "desc", "asc" ] , "bVisible":    false }
        ],
        "fnServerData": function (sSource, aoData, fnCallback) {

			if (clearFilter) {
				;
			} else { 
				if ( ! jData.length < 1 ) { 
					aoData.push({ "name": "station_list", "value": jData});
				} else {
					aoData.push({ "name": "station_list", "value": {{ station_list }} });
				}
			}

            if ( ! sids.length < 1  ) {
                aoData.push({ "name": "sids", "value": sids});
            }

            $.ajax ( {
              "dataType": 'json',
              "type": "POST",
              "url": sSource,
              "data": aoData,
              "success": fnCallback
            } );

         }
    });

		$('.tiptip').tipTip();

        /* Buttons hovering handling */
        $('.fg-button').hover(
            function(){ 
                $(this).addClass("ui-state-hover"); 
            },
            function(){ 
                $(this).removeClass("ui-state-hover"); 
            }
        );

/*
        $('#help_dialog').dialog({
            bgiframe: true,
            height: 300,
            width: 300,
            modal: true,
            autoOpen: false
        });

        $('#help_trigger').click(function(){
           $('#help_dialog').dialog('open')
        });
*/

        $('#select_stations').click(function (){
            var tk = $("input:checked[class=station_selected_ids]")
            var ut = $("input:not(:checked)[class=station_selected_ids]")

           tk.each(function(){
                $(this).attr("checked","");
                sids = removeItem(sids, $(this).attr("value"));
            });

            ut.each(function(){
                $(this).attr("checked","checked");
                sids.push($(this).attr("value"));
            });

        });


        $('#political_division').change( function() {
            val = $(this).attr('value')
            render_dist_filter(val);
        });

        if ( ! $('#political_division').attr(':disabled') ) { 
            render_dist_filter($('#political_division').attr('value'));
        }
        
        $('#district').change( function() {
            val = $(this).attr('value')
            render_pref_filter(val);
        });

        $('#filter_submit').click( function() {
            station_search();
        });


        $("#map_stations").click(function(){
            slist = StList.join(',');
            jData = slist; 
			clearFilter = false;
			sids = [];
			clear_cboxes();
            oTable.fnDraw();

        });


        $("#show_stations").click(function(){

            /* get all stations ids from checkboxes and url address */
            slist = [];
            slist = "(";
            for ( i in sids ) {
                slist += '\''+sids[i]+'\',';
            }
            if (slist.length > 2) {
                slist = slist.substring(0,slist.length-1);
            }
            slist += ")";

            /* feed ids to the GIS calling function */
            StationSelect(slist);
		});

		$("a#inline").fancybox({
			'transitionIn'	:	'fade',
			'transitionOut'	:	'fade',
			'speedIn'		:	600, 
			'speedOut'		:	200, 
			'hideOnContentClick': false
		});		

        {% if not gis_server %} 
            $("#mapcontent").html("<div style=\"margin:auto\"><h3>No GIS server configured!</h3></div>");
        {% endif %}
    });

    function clear_cboxes () {
            var tk = $("input:checked[class=station_selected_ids]")

           tk.each(function(){
                $(this).attr("checked","");
            });

        }

	/* ]]> */
    </script>


{% endblock %}


{% block content %}
<div id="mapcontainer">

    <div id="map_nav"> 
        <div id="panel_toggle"> 
            <a id="hidePanel" class="panel_togglers qtip_hidePanel tiptip" title="Hide Station List"> 
                <img id="hp" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_previous.png" alt="Hide Panel"></img>
            </a>
            List
            <a id="showPanel" class="panel_togglers qtip_showPanel tiptip" title="Show Station List">
                <img id="sp" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_next_disabled.png" alt="Show Panel"></img>
            </a>
                <button type="submit" id="show_stations" style="margin-left:5px" class="ui-state-default ui-corner-all fg-button tiptip" title="Show stations on map"><span class="ui-icon ui-icon-image fg-button-icon-left"></span>&nbsp;{% trans "Locate Stations" %}</button>
        </div>
        <div id="map_toggle">
            <button type="button" id="map_stations" style="margin-right:5px" class="ui-state-default ui-corner-all fg-button tiptip" title="Show map stations in list" ><span class="ui-icon ui-icon-transferthick-e-w fg-button-icon-left"></span>&nbsp;{% trans "List Stations" %}</button>
             <a id="showMap" class="panel_togglers qtip_showMap tiptip" title="Show Map"> 
                <img id="sm" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_previous_disabled.png" alt="Show Map"></img>
            </a> 
            Map
            <a id="hideMap" class="panel_togglers qtip_hideMap tiptip" title="Hide Map">
                <img id="hm" class="collapse_expand_map" src="{{ MEDIA_URL }}images/icons/resultset_next.png" alt="Hide Map"></img>
            </a>
        </div>
    </div>

    <div id="leftofmap"> 
        {% block filters %}
		<div style="display:none;">
		<div id="hidden_filter">
          {% filter_table request "False" %}
		</div>
		</div>
        {% endblock %}
		<div>
			<h3 style="display:inline;">{% trans 'Station Catalogue' %}</h3> 
			<sup>
					<a id="inline" href="#hidden_filter" class="tiptip" title="Station Advanced filter"><img alt="Filter Stations" style="border:0" src="{{ MEDIA_URL }}images/icons/magnifier.png" />
					</a>
			</sup>	
			<div id="buttons" style="float:right">
				<button onclick="sids = [];clear_cboxes();">Clear Selected</button>
				<button onclick="loadAllStations();">Load all Stations</button>
			</div>
		</div>
        {% if station_list %}
        <table id='station_table' class="display" style="width:100%;text-align:center;"> 
          <thead>
            <tr>
              <th><a id='select_stations' style="cursor:pointer">Select</a></th>
              <th>{% anchor id 'ID' %}</th>
              <th>{% anchor name 'Name' %}</th>
              <th>{% anchor water_basin 'Water Basin' %}</th>
              <th>{% anchor water_division 'Water Division' %}</th>
              <th>{% anchor political_division 'Political Division' %}</th>
              <th>{% anchor owner 'Owner' %}</th>
              <th>{% anchor type 'Type' %}</th>
            </tr>
          </thead>

          <tbody id="tbody_list">
			<tr>
			<th></th>
			</tr>
          </tbody>
        </table>
        <br />
        {% else %}
          <p>{% trans "No entries found." %}</p>
          <p>{% trans "You may want to try again with a different filter." %}</p>
        {% endif %}
    </div>

    <div id="mapcontent" class="soria"> 

    <b>SELECT TOOLS :</b>
    <button onclick="toolbar.activate(esri.toolbars.Draw.EXTENT);map.hidePanArrows();map.hideZoomSlider();">Box</button>
    <button onclick="toolbar.activate(esri.toolbars.Draw.FREEHAND_POLYGON);map.hidePanArrows();map.hideZoomSlider();">Freehand Polygon</button>
    <button onclick="toolbar.deactivate();map.showPanArrows();map.showZoomSlider();">Deactivate</button>
    <button onclick="map.setExtent(initialExtent,false);toolbar.deactivate();map.showPanArrows();map.showZoomSlider();">Reload Map</button>
    <br />
        <div id="map_data" class="soria" style="border:1px solid #ccc;" >
        </div>
    </div>

</div>
{% endblock %}
