{% extends "base.html" %}
{% load i18n %}

{% block title %}
   {{ page.name }}
{% endblock %}

{% block content %}
    <h3>{{page.name}}</h3>
    <p><em><strong>{% trans "Time step: " %}{{ page.time_step }}</strong></em></p>
    {% if page.description %}
    <p>{{page.description}}</p>
    {% endif %}
    <div style="clear: both; padding: 5px;">
    <img src="{% url image_serve page.url_name %}.png" style="float: left; width: {{ x_dim }}px; height: {{y_dim }}px;" alt="{{page.description}}">
    {% autoescape off %}
    {% if page.side_text %}
    <div style="float: left; clear: right">
    {{ page.side_text }}
    </div>
    {% endif %}
    {% endautoescape %}
    </div>
    <div style="clear: left; padding: 5px;">
    <p>
    {% trans "Image nominal timestamp: " %}{{last_update}}. {{ page.timestamp_notice }}
    </p>
    {% if page.display_station_values %}
        <hr style="width:98%;height:1px; text-align: left; border-width: 1px; border-color: #ccc;">
        <p>
            <table>
                <thead>
                    <tr>
                    <th>{% trans "Station" %}</th>
                    <th>{% trans "Weight" %}</th>
                    <th>{% trans "Value" %}</th>
                    {% for old_value_meta in old_values_meta %}
                        <th>{{ old_value_meta.ts|date:"Y/m" }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for point in points %}
                    <tr>
                    <td>{{ point.display_name }}</td>
                    <td>{{ point.weight|floatformat:2 }}</td>
                    <td>{{ point.value|floatformat:2 }}</td>
                    {% for old_value in point.old_values %}
                        <td>
                            {{ old_value.v1|floatformat:2 }}
                            {% if secondary_timeseries_exist %}/
                            {{ old_value.v2|floatformat:2 }}{% endif %}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                <tfoot>
                    <tr>
                    <th colspan=2>Mean</th><th>{{ mean_value|floatformat:2 }}</th>
                    {% for old_value_meta in old_values_meta %}
                        <th>{{ old_value_meta.mv1|floatformat:2 }}
                        {% if secondary_timeseries_exist %}/
                        {{ old_value_meta.mv2|floatformat:2 }}
                        {% endif %}</th>
                    {% endfor %}
                    </tr>
                </tfoot> 
            </table>
        </p>
    {% endif %}
    {% if other_pages %}
        <hr style="width:98%;height:1px; text-align: left; border-width: 1px; border-color: #ccc;">
        <h3>
        {% trans "Related contour plots" %}
        </h3>
        {% for item in other_pages %}
           <div style="padding: 15px; float: left;">
               <a href="{% url contourpage_detail item.rpage.url_name %}">
               <img src="{% url thumb_serve item.rpage.url_name %}_140.png" style="border-width: 0px; width: {{x_thumb}}px; height {{y_thumb}}px;" alt="{{item.rpage.description}}"></a>
               <p style="display: block; width: 140px;">
                   <strong>
                     <a href="{% url contourpage_detail item.rpage.url_name %}">{{ item.rpage.name }}</a>
                   </strong><br>
                   {% trans "Time step: " %}<br>{{ item.rpage.time_step }}<br>
                   {% trans "Nominal timestamp:" %}<br>
                   {{ item.rpage.get_concurent_timestamp_str }}
               </p>
           </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
