{% extends "common_detail.html" %}
{% load i18n %}
{% load permissions %}
{% block title %} {% trans 'Enhydris - Borehole' %} - {%if object %}{{ object.name }} {% endif %}
{% endblock %}
{% block js-globals %}
    <script type="text/javascript">var map_mode=12;
      {% if object %}agentity_id={{object.id}}{% endif %}
    </script>
{% endblock %}
{% block  gis_objects_section %}

    <p><h2>{% trans "Borehole Details" %}
    </h2></p>

		{% if notifications %}
        <ul class="notifications">
                {% for message in notifications %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if object %}
        {% if use_open_layers %}
        <div>
            {% if object.point %}<div id="map" style="float: right;">
            <div id="map_progress" style="position: absolute; margin-top:202px; margin-left: 232px; z-index: 5000;"></div>
            </div>{% endif %}
        <div>{% endif %} {# if use_open_layers #}    
        <table class="definition tablesorter table_container">
            <tr class="{% cycle 'odd' 'even' as rowalts %}">
                <th>{% trans 'ID' %}</th>
                <td colspan='2'>{{ object.id }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Name' %}</th>
                <td colspan='2'>{{ object.name }}</td>
            </tr>
             <tr class="{% cycle rowalts %}">
                <th>{% trans 'Short Name' %}</th>
                <td colspan='2'>{{ object.short_name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Remarks' %}</th>
                <td colspan='2'>{{ object.remarks }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Basin' %}</th>
                <td colspan='2'>{{ object.water_basin.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Division' %}</th>
                <td colspan='2'>{{ object.water_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Political Division' %}</th>
                <td colspan='2'>{{ object.political_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Abscissa' %}</th>
                <td colspan='2'>{{ object.gis_abscissa }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Ordinate' %}</th>
                <td colspan='2'>{{ object.gis_ordinate }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'SRID' %}</th>
                <td colspan='2'>{{ object.srid }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Approximate' %}</th>
                <td colspan='2'>{{ object.approximate }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Altitude' %}</th>
                <td colspan='2'>{{ object.altitude|floatformat:2 }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'ASRID' %}</th>
                <td colspan='2'>{{ object.asrid }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Code (Imported from GIS)' %}</th>
                <td colspan='2'>{{ object.code }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Group (Imported from GIS)' %}</th>
                <td colspan='2'>{{ object.group }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water use' %}</th>
                <td colspan='2'>{{ object.water_use.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water user' %}</th>
                <td colspan='2'>{{ object.water_user.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Land use' %}</th>
                <td colspan='2'>{{ object.land_use.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Drill type' %}</th>
                <td colspan='2'>{{ object.drill_type.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Piping material' %}</th>
                <td colspan='2'>{{ object.pipe_mat.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Continuous flow (m3/h)' %}</th>
                <td colspan='2'>{{ object.continuous_flow }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Installed with pressure meter' %}</th>
                <td colspan='2'>{{ object.has_pmeter|yesno:_("Yes,No") }}</td>
            </tr>
            {% if object.has_pmeter %}
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Pressure meter type' %}</th>
                <td colspan='2'>{{ object.pmeter_type.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Pressure meter diameter (in)' %}</th>
                <td colspan='2'>{{ object.pmeter_diameter }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Pressure meter length (m)' %}</th>
                <td colspan='2'>{{ object.pmeter_length }}</td>
            </tr>
            {% endif %}
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Borehole depth (m)' %}</th>
                <td colspan='2'>{{ object.borehole_depth }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Pipe depth (m)' %}</th>
                <td colspan='2'>{{ object.pipe_depth }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water depth (m)' %}</th>
                <td colspan='2'>{{ object.water_depth }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 't Parameter' %}</th>
                <td colspan='2'>{{ object.value_t }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 's Parameter' %}</th>
                <td colspan='2'>{{ object.value_s }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'b Parameter' %}</th>
                <td colspan='2'>{{ object.value_b }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'k Parameter' %}</th>
                <td colspan='2'>{{ object.value_k }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Threshold a' %}</th>
                <td colspan='2'>{{ object.threshold_a }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Threshold b' %}</th>
                <td colspan='2'>{{ object.threshold_b }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Continuous stage (m)' %}</th>
                <td colspan='2'>{{ object.continuous_stage }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Test flow (m3/s)' %}</th>
                <td colspan='2'>{{ object.test_flow }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Test stage (m)' %}</th>
                <td colspan='2'>{{ object.test_stage }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Begining of works' %}</th>
                <td colspan='2'>{{ object.begin_works }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Ending of works' %}</th>
                <td colspan='2'>{{ object.end_works }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Pump discharge (m3/s)' %}</th>
                <td colspan='2'>{{ object.pump_discharge }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Pump ratio' %}</th>
                <td colspan='2'>{{ object.pimp_ratio }}</td>
            </tr>
        </table>

        {% endif %}


{% endblock gis_objects_section %}
