{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="">
  <head>
    <title>{% block title %}{% trans "Enhydris" %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block basecss %}
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
      <link rel="preload" href="{% static 'fonts/noto-sans-v11-latin-ext_greek-ext_cyrillic-ext-regular.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="{% static 'fonts/noto-sans-v11-latin-ext_greek-ext_cyrillic-ext-regular.woff' %}" as="font" type="font/woff" crossorigin="anonymous">
      <link rel="preload" href="{% static 'fonts/noto-sans-v11-latin-ext_greek-ext_cyrillic-ext-700.woff2' %}" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="{% static 'fonts/noto-sans-v11-latin-ext_greek-ext_cyrillic-ext-700.woff' %}" as="font" type="font/woff" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha512-rO2SXEKBSICa/AfyhEK5ZqWFCOok1rcgPYfGOqtX35OyiraBg6Xa4NnBJwXgpIRoXeWjcAmcQniMhp22htDc6g==" crossorigin="anonymous">
      <link href="{% static 'css/enhydris.css' %}" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" rel="stylesheet" media="screen">
      <link href="{% static 'css/vendor/L.Control.MousePosition.css' %}" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" rel="stylesheet" media="screen">
    {% endblock %}

    {% block shortcut_icon %}
      <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon">
    {% endblock %}

    {% block extracss %}{% endblock %}
    {% block extra_head %}{% endblock %}
  </head>

  <body{% if 'enhydris' in request.path %} class="page page-map-full"
  {% elif 'stations' in request.path %} class="page page-map-half"
  {% else %} class="page page-map-full" {% endif %} onload="{% block body_onload %}{% endblock %}">
    <header class="page-header">
      <div class="container">
      {% block header %}
        {% include "enhydris/base/navbar.html" %}
        {% include "enhydris/base/messages.html" %}
      {% endblock header %}
      </div>
    </header>

    <main class="page-main">
      {% block content %}{% endblock %}
    </main>

    <footer class="page-footer">
      <div class="container page-footer-content">
      {% block footer %}
        {% include "enhydris/base/footer.html" %}
      {% endblock %}
      </div>
    </footer>

    {% block bodyend %}{% endblock %}

    {% block mainjs %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" integrity="sha512-hCP3piYGSBPqnXypdKxKPSOzBHF75oU8wQ81a6OiGXHFMeKs9/8ChbgYl7pUvwImXJb03N4bs1o1DzmbokeeFw==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha512-I5TkutApDjnWuX+smLIPZNhw+LhTd8WrQhdCKsxCFRSvhFx2km8ZfEpNIhF9nq04msHhOkE8BMOBj5QE07yhMA==" crossorigin="anonymous"></script>
      <script>
        var enhydris = {};
        enhydris.staticUrl = '{% static "" %}';
        enhydris.rootUrl = '{% url "station_list" %}';
      </script>
      <script src="{% static 'js/enhydris.js' %}"></script>
    {% endblock %}

    {% block extrajs %}{% endblock %}
  </body>
</html>
