{% load i18n %}
{% load static %}

<title>{% block title %}{% trans "Enhydris" %}{% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% block basecss %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/enhydris.css' %}" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" rel="stylesheet" media="screen">
  <link href="{% static 'css/L.Control.MousePosition.css' %}" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css" rel="stylesheet" media="screen">
{% endblock %}
{% block shortcut_icon %}
  <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon">
{% endblock %}
{% block extracss %}{% endblock %}
{% block extra_head %}{% endblock %}

<body onload="{% block body_onload %}{% endblock %}">
  <header class="custom-header">
    {% block header %}
      {% include "enhydris/base/navbar.html" %}
      {% include "enhydris/base/searchtips.html" %}
      {% include "enhydris/base/messages.html" %}
    {% endblock header %}
  </header>

  <main class="custom-main">
    {% block content %}{% endblock %}
  </main>

  <footer class="custom-footer">
    {% block footer %}
      {% include "enhydris/base/footer.html" %}
    {% endblock %}
  </footer>

  {% block bodyend %}{% endblock %}

  {% block mainjs %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/read-more-js.js' %}"></script>
    <script>
      var enhydris = {};
      enhydris.staticUrl = '{% static "" %}';
      enhydris.rootUrl = '{% url "station_list" %}';
    </script>
    <script src="{% static 'js/enhydris.js' %}"></script>
  {% endblock %}
  {% block extrajs %}{% endblock %}
</body>
