{% extends "enhydris/base/main.html" %}
{% load static %}
{% load i18n %}

{% block basecss %}
  {{ block.super }}
  <style>
    header.page-header { position: absolute; };
  </style>
{% endblock %}

{% block body_onload %}
  {{ block.super }};
  enhydris.map.create();
{% endblock %}

{% block mainjs %}
  {{ block.super }}
  {% block map_js %}
    <script type="text/javascript">
      enhydris.mapBaseLayers = {{ map_base_layers|safe }};
      enhydris.mapDefaultBaseLayer = "{{ map_default_base_layer|safe }}";
      enhydris.mapViewport = {{ map_viewport|safe }};
      enhydris.searchString = {{ searchString|safe }};
      enhydris.strStations = '{% trans "Stations" %}';
    </script>
  {% endblock %}
{% endblock %}
