{% extends "enhydris/base/main.html" %}
{% load static %}

{% block body_onload %}
  {{ block.super }};
  enhydris.map.create();
{% endblock %}

{% block mainjs %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
  {% block leaflet_plugins %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-plugins/3.0.3/layer/vector/KML.min.js"></script>
    <script src="{% static 'js/vendor/L.Control.MousePosition.js'%}"></script>
  {% endblock %}
  <script type="text/javascript" src="{% static 'js/vendor/arg.js.v1.1.min.js' %}"></script>
  {% block map_js %}
    <script type="text/javascript">
      enhydris.mapBaseLayers = {{ map_base_layers|safe }};
      enhydris.mapDefaultBaseLayer = "{{ map_default_base_layer|safe }}";
      enhydris.mapViewport = {{ map_viewport|safe }};
      enhydris.searchString = {{ searchString|safe }};
    </script>
  {% endblock %}
{% endblock %}
