{% extends "enhydris/base/main.html" %}
{% load static %}

{% block body_onload %}
  {{ block.super }};
  enhydris.map.create();
{% endblock %}

{% block mainjs %}
  {{ block.super }}
  {% block map_js %}
    <script type="text/javascript">
      enhydris.mapBaseLayers = {{ map_base_layers|safe }};
      enhydris.mapDefaultBaseLayer = "{{ map_default_base_layer|safe }}";
      enhydris.mapViewport = {{ map_viewport|safe }};
      enhydris.searchString = {{ searchString|safe }};
    </script>
  {% endblock %}
{% endblock %}
