{% if messages %}
  <div class="container-fluid">
    {% for message in messages %}
    <div class="alert {% if message.level == 10 %}alert-dark{% elif message.level == 20 %}alert-info{% elif message.level == 25 %}alert-success{% elif message.level == 30 %}alert-warning{% elif message.level == 40 %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p>{{ message }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}
