{% load i18n %}
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% block home_button %}
        <a class="navbar-brand" href="{% url "station_list" %}">{% trans "Stations" %}</a>
      {% endblock %}
    </div>
    <div class="navbar-collapse collapse">
      {% block search %}
        {% include "enhydris/base/search.html" %}
      {% endblock %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a href="{% url "admin:index" %}">{% trans "Dashboard" %}</a></li>
          <li><a href="{% url "admin:logout" %}?next={{request.path}}">{% blocktrans with username=user.username %}Logout {{ username }}{% endblocktrans %}</a></li>
        {% else %}
          <li><a href="{% url "admin:login" %}?next={{request.path}}">{% trans "Login" %}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
