{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" role="navigation">
  {% block home_button %}
    <a class="navbar-brand" href="{% url 'station_list' %}">{% trans "Stations" %}</a>
  {% endblock %}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    {% block search %}
      {% include "enhydris/base/search.html" %}
    {% endblock %}
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">{% trans "Dashboard" %}</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'admin:logout' %}?next={{request.path}}">{% blocktrans with username=user.username %}Logout {{username }}{% endblocktrans %}</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}?next={{request.path}}">{% trans "Login" %}</a></li>
      {% endif %}
    </ul>
  </div> <!-- /.navbar-collapse -->
</nav>
