{% load i18n %}

<nav class="navbar navbar-light navbar-expand-lg" role="navigation">
  {% block home_button %}
    <a class="navbar-brand" href="index.html">Enhydris</a>
  {% endblock %}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}?next={{request.path}}">{% trans "dashboard" %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:logout' %}?next={{request.path}}">{% blocktrans with username=user.username %}logout {{username }} {% endblocktrans %}</a></li>
      {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:login' %}?next={{request.path}}">{% trans "login" %}</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
