{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>{% block title %}{% trans "Enhydris" %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% block js-globals %}{% endblock %}
  {% block basecss %}
  <link media="screen" href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet" />
  <link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
  <link type="text/css" href="{{ STATIC_URL }}css/ui_override.css" rel="stylesheet" />
  {% endblock %}
  {% block basejs %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.1.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder-1.0.1.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript">
  </script>
  <script type="text/javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
    var ENHYDRIS_ROOT_URL = '{% url "enhydris.hcore.views.index" %}';
    var BOUND_URL = '{% url "enhydris.hcore.views.bound" %}';
    $(document).ready(function() {
		$("#search_input").placeholder();
	});
  </script>
  {% if use_open_layers %}
     <link media="screen" href="{{ STATIC_URL }}css/olmap.css" type="text/css" rel="stylesheet" />
     <script src="{{ STATIC_URL}}js/openlayers/OpenLayers.js"></script>
     <script type="text/javascript" src="http://openstreetmap.org/openlayers/OpenStreetMap.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL}}js/olmap-settings.js"></script>
     <script type="text/javascript" src="{{ STATIC_URL}}js/olmap.js"></script>
  {% endif %}
  {% endblock %}
  {% block shortcut_icon %}{% endblock %}
  {% block extracss %}{% endblock %}
  {% block extrajs %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body {% if use_open_layers %}onload="init()"{% endif %}>
<div id="wrapper">
  <div id="header">
	<ul id="menu"> 
		<li class="logo"> 
			<a href='{% url "index" %}'>
			<img style="float:left;border:0;" alt="" src="{{ STATIC_URL}}images/menu_left.png" /> 
			</a>
		</li> 
				<li><a href='{% url "station_list" %}'>{% trans "Stations" %}</a> 
		</li>
		<li><a href='{% url "map_view" %}'>{% trans "Map" %}</a> 
		</li>
		<li class="searchContainer"> 
			<div>
		    <form id="global-search-form" class="col-6 last" action='{% url "station_list" %}' method="get">
		    	<input class="small" id="search_input" type="text" placeholder="search stations" name="q" value="{{ query|escape }}" />
				<input type="hidden" name="check" value="search" />
		    </form>
		    </div>

		<!--
					<form method="get" id="global-search-form" action='/stations/l/'>
						<input type="text" value="" name="q" size="20" placeholder="{% trans "search stations"%}" id="search_input" class="placeholder">


					</form>

			<ul id="search"> 
				<li>
					<img class="corner_inset_left" alt="" src="{{ STATIC_URL }}images/corner_inset_left.png"/> 
					<a href="#">All</a> 
					<img class="corner_inset_right" alt="" src="{{ STATIC_URL }}images/corner_inset_right.png"/> 
				</li>
				<li><input id="Stations" type="checkbox" />Stations</li> 
				<li><input id="Instruments" type="checkbox" />Instruments</li> 
				<li><input id="Timeseries" type="checkbox" />Timeseries</li> 
				<li class="last"> 
					<img class="corner_left" alt="" src="{{ STATIC_URL }}images/corner_left.png"/> 
					<img class="middle" alt="" src="{{ STATIC_URL }}images/dot.gif"/> 
					<img class="corner_right" alt="" src="{{ STATIC_URL }}images/corner_right.png"/> 
				</li> 
			</ul>
		-->
		</li> 
		<li style="background:transparent;margin:0;padding:0;">
			<img style="float:left" alt="" src="{{ STATIC_URL }}images/menu_right.png" />
		</li>
	</ul> 

	<ul id="menu2"> 

		{% if user.is_authenticated %}

			<li style="background:transparent;margin:0;padding:0;">
				<img style="float:left" alt="" src="{{ STATIC_URL }}images/top_menu_left.png"/>
			</li>
			<li id="userinfo">
			{% with user.username as user_username %}
                        {% trans "Welcome" %}&nbsp;<a href='{% url "profiles_profile_detail" user_username %}'>{{ user_username }}</a>!&nbsp;
            {% endwith %}
			</li>

			<li><a href='{% url "auth_logout" %}?next={{ request.path }}'>Logout</a> 
			</li> 
		{% else %}
			<li style="background:transparent;margin:0;padding:0;">
			<img style="float:left" alt="" src="{{ STATIC_URL }}images/top_menu_left_bw.png"/>
			</li>
			<li><a class="loginform" href='{% url "auth_login" %}?next={{request.path}}'>{% trans "Login" %}</a></li> 

                        {% if REGISTRATION_OPEN %}
			  <li><a href='{% url "registration_register" %}'>{% trans "Register" %}</a></li> 
                        {% endif %}


		{% endif %}

			<li>
			{% url "django.views.i18n.set_language" as set_language_url %}
				<form action="{{ set_language_url }}" method="post">
                                {% csrf_token %}
				<p style="display: inline;">
					<input name="next" type="hidden" value="{{ request.path }}" />
						<select name="language">
						{% for lang in LANGUAGES %}
						   <option value="{{ lang.0 }}" {% ifequal request.session.django_language lang.0 %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
						{% endfor %}
						</select>
						<input type="submit" value="Go" />
				</p>
				</form>


			</li>
			<li style="background:transparent;margin:0;padding:0;">
			<img style="float:left" alt="" src="{{ STATIC_URL }}images/menu_right.png"/>
			</li>
			
	</ul>
	</div>
	    <div id="content">
		<div id="body">
	    {% if notifications %}
        <ul class="notifications">
                {% for message in notifications %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
			  {% block messages %}
				{% if messages %}
					<div class="messages">
					{% for message in messages %}
						<span class="i16 tip message" style="font-size:0.8em">{{ message }}</span> 
					{% endfor %}
					</div>
				{% endif %}
			  {% endblock %}
		  {% block content %}
			<div id="body_main">
			{% block content_main %}
            {% endblock %}
			</div>
		  {% endblock %}
		</div>
	  </div>
</div>

  <div id="footer">{% block footer %}
      {% block footerlinks %}{% endblock %}
    {% block powered %}{% endblock %}
    {% block extrafooter %}{% endblock %}
  {% endblock %}</div>
{% block bodyend %}{% endblock %}
</body>
</html>
