{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>{% block title %}{% trans "Enhydris" %}{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {% block js-globals %}{% endblock %}
  {% block basecss %}
  <link media="screen" href="{{ STATIC_URL }}css/base.css" type="text/css" rel="stylesheet" />
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet" />
  <link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.min.css" rel="stylesheet" />
  <link type="text/css" href="{{ STATIC_URL }}css/ui_override.css" rel="stylesheet" />
  <link media="screen" href="{{ STATIC_URL }}css/olmap.css" type="text/css" rel="stylesheet" />
  {% endblock %}
  {% block shortcut_icon %}{% endblock %}
  {% block extracss %}{% endblock %}
  {% block extra_head %}{% endblock %}
</head>
<body onload="enhydris.map = enhydris.map_module.init()">
<div id="wrapper">
  <div id="header">
    <ul id="menu"> 
      <li><a href='{% url "station_list" %}'>{% trans "Stations" %}</a></li>
      <li class="searchContainer"> 
        <form id="global-search-form" class="col-6 last" action='{% url "station_list" %}' method="get">
          <input class="small" id="search_input" type="text" placeholder="search stations" name="q" value="{{ query|escape }}" />
          <input type="hidden" name="check" value="search" />
        </form>
      </li> 
    </ul>

    <ul id="menu2">
        {% if user.is_authenticated %}
            <li id="userinfo">
            {% with user.username as user_username %}
                        {% trans "Welcome" %}&nbsp;<a href='{% url "profiles_profile_detail" user_username %}'>{{ user_username }}</a>!&nbsp;
            {% endwith %}
            </li>

            <li><a href='{% url "auth_logout" %}?next={{ request.path }}'>Logout</a> 
            </li> 
        {% else %}
            <li><a class="loginform" href='{% url "auth_login" %}?next={{request.path}}'>{% trans "Login" %}</a></li> 

                        {% if REGISTRATION_OPEN %}
            <li><a href='{% url "registration_register" %}'>{% trans "Register" %}</a></li> 
                        {% endif %}
        {% endif %}
    </ul>
  </div>

        <div id="content">
        <div id="body">
        {% if notifications %}
        <ul class="notifications">
                {% for message in notifications %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
              {% block messages %}
                {% if messages %}
                    <div class="messages">
                    {% for message in messages %}
                        <span class="i16 tip message" style="font-size:0.8em">{{ message }}</span> 
                    {% endfor %}
                    </div>
                {% endif %}
              {% endblock %}
          {% block content %}
            <div id="body_main">
            {% block content_main %}
            {% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
</div>

  <div id="footer">{% block footer %}
      {% block footerlinks %}{% endblock %}
    {% block powered %}{% endblock %}
    {% block extrafooter %}{% endblock %}
  {% endblock %}</div>
{% block bodyend %}{% endblock %}
{% block basejs %}
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.10.8/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.placeholder-1.0.1.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/arg.js.v1.1.min.js"></script>
  <script type="text/javascript" src="http://openstreetmap.org/openlayers/OpenStreetMap.js"></script>
  <script type="text/javascript">
    var enhydris = {};
    enhydris.staticUrl = '{{ STATIC_URL }}';
    enhydris.rootUrl = '{% url "station_list" %}';
    enhydris.boundingBoxUrl = '{% url "bounding_box" %}';
    enhydris.mapMode = 1;
    {{ map_js | safe }}
    $(document).ready(function() {
        $("#search_input").placeholder();
    });
  </script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/hcore.js"></script>
{% endblock %}
{% block extrajs %}{% endblock %}
</body>
</html>
