{% extends "base.html" %}
{% load i18n %}
{% load counting %}

{% block header %}

{% endblock %}

{% block content_main %}
        {% comment %}
        {% if notifications %}
        <ul class="notifications">
                {% for message in notifications %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %} 
        {% endcomment %}

    <div id="frontpage_text">
        <h2>{% trans "Welcome to Enhydris" %}</h2>

        <p>{% trans "If you want to take full advantage of our service, you could " %}
            <a href="{% url "registration_register" %}">sign up</a> or <a
            href="{% url "auth_login" %}">login</a> 
            {% trans " if you're already a member!" %}</p>
    </div>
        <div id="frontpage">
        <div id="frontpage_stats">
            <span class="header"> {% trans "Current Statistics" %} </span>
            <hr />
            <p> {% trans "Currently there are " %} <span>{% do_count "auth.User" %}</span> {% trans "users registered on the site" %} </p>
            <p> {% trans "Currently there are " %} <span>{% do_count "hcore.Station" %}</span> {% trans "stations hosted on the site" %} </p>
            <p> {% trans "Currently there are " %} <span>{% do_count "hcore.Instrument" %}</span> {% trans "instruments hosted on the site" %} </p>
            <p> {% trans "Currently there are " %} <span>{% do_count "hcore.Timeseries" %}</span> {% trans "timeseries hosted on the site" %} </p>
        </div>
        
        <div id="frontpage_activity" style="margin-top:1em;">
            <span class="header"> {% trans "Recent Activity" %} </span>
            <hr />
            {% get_latest_stations 5  %}
			{% if latest_stations %}
				{% for station in latest_stations %}
				<p><span><a href="{% url "station_detail" station.id %}">{{station.name}}</a></span> {% trans "was modifed at" %}
				{{station.last_modified|date:"l, j N P"}}</p> 
				{% endfor %}
			{% else %}
				<p><i>No data available yet</i><p>
			{% endif %} 
        </div>

        </div>
        
{% endblock %}
