{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "jquery": true,
        "jest": true
    },
    "globals": {
        "enhydris": "writable",
        "OpenLayers": "readonly",
        "google": "readonly",
        "moment": "readonly",
        "L": "readonly",
        "ApexCharts": "readonly",
        "Arg": "readonly",
        "axios": "readonly"
    },
    "rules": {
        "prefer-arrow-callback": "off",
        "func-names": "off"
    }
}
