dist: bionic

matrix:
  include:

    - name: "Python 3.7 unit tests"
      language: python
      python: 3.7
      cache: pip
      addons:
        chrome: stable
        postgresql: "10"
        apt:
          packages:
            - gdal-bin
            - libgdal-dev
            - postgresql-10-postgis-2.4
      install:
       # TimescaleDB
       - sudo add-apt-repository -y ppa:timescale/timescaledb-ppa
       - sudo apt-get update
       - sudo apt-get install -y timescaledb-postgresql-10
       - sudo bash -c "echo \"shared_preload_libraries = 'timescaledb'\" >>/etc/postgresql/10/main/postgresql.conf"
       - sudo service postgresql restart

       - CPLUS_INCLUDE_PATH=/usr/include/gdal C_INCLUDE_PATH=/usr/include/gdal pip install 'gdal==2.2.3'
       - pip install psycopg2==2.7.4
       - pip install codecov coverage
       - wget https://chromedriver.storage.googleapis.com/LATEST_RELEASE
       - wget https://chromedriver.storage.googleapis.com/`cat LATEST_RELEASE`/chromedriver_linux64.zip
       - sudo unzip chromedriver_linux64.zip -d /usr/local/bin
       - pip install -r requirements.txt
       - pip install -r requirements-dev.txt
       - pip install isort flake8 black
      before_script:
       - psql -U postgres -c "create extension postgis"
       - psql -U postgres -c "create database openmeteo"
       - cp enhydris_project/settings/travis.py enhydris_project/settings/local.py
      env:
       - SELENIUM_WEBDRIVER=headless
      script:
       - python manage.py makemigrations --check
       - black --check .
       - flake8 --max-line-length=88 .
       - isort --check-only --diff .
       - coverage run --include="./*" --omit="*/tests/*","*/tests.py","*/migrations/*","./enhydris_project/*" manage.py test -v2
      after_success:
       - codecov
