language: python
python:
 - 3.6
 - 3.5

addons:
  postgresql: "9.5"
  apt:
    packages:
      - libgdal1h
      - gdal-bin
      - libgdal-dev
      - python3-psycopg2
      - postgresql-9.5-postgis-2.3

install:
 - CPLUS_INCLUDE_PATH=/usr/include/gdal C_INCLUDE_PATH=/usr/include/gdal pip install 'gdal<1.11'
 - pip install codecov coverage isort flake8
 - pip install psycopg2==2.7.4
 - pip install -r requirements.txt
 - pip install -r requirements-test.txt

before_script:
 - psql -U postgres -c "create extension postgis"
 - cp enhydris_project/settings/travis.py enhydris_project/settings/local.py

script:
 - if python -c "import sys; exit(not (sys.version >= '3.6'))"; then pip install black; black --check .; fi
 - flake8 --max-line-length=88 .
 - isort --recursive --check-only --diff .
 - coverage run --include="./*" --omit="*/tests/*","*/tests.py","*/migrations/*","./enhydris_project/*" manage.py test -v2

after_success:
 - codecov
