model-bakery>=1.20.0,<2
django-cors-headers>=4,<5
sphinx>=4
django-selenium-clean>=1,<2
beautifulsoup4>=4.4
types-beautifulsoup4>=4.4,<5
freezegun>=1.1,<2
parameterized>=0.9.0,<1
mypy>=1.19,<2
pyright>=1.1,<2
django-stubs>=5.2,<6
djangorestframework-stubs>=3.16,<4
pandas-stubs>=2.3,<3
celery-types>=0.24,<1
types-requests>=2.25,<3
types-defusedxml>=0.7,<1
