{% extends "base-sample.html" %}
{% load i18n %}
{% block extracss %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.fancybox-1.3.1.css" type="text/css" media="screen" />
{% endblock %} 
{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.fancybox-1.3.1.js"></script>

<script type="text/javascript">

$(document).ready(function() {
	$("a#terms").fancybox({
		'hideOnContentClick': true
	});
});
</script>

{% endblock %} 

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}

  {% if form.errors %}
  <p class="error">{% trans "Please correct the errors below: " %}{{ form.non_field_errors }}</p>
      {% endif %}
    
      <h3>{% trans "Create an account" %}</h3>
     
      <form method="post" action="" class="wide">
        {% csrf_token %} 
        <table>  
            <tr>
        <th align="right">    
          <label for="id_username">{% trans "Username:" %}</label>
         </th>
        <td>
          {{ form.username }}

          {% if form.username.errors %}
            <p class="fielderrors" style="display:inline;color:#FF3333">{{ form.username.errors.as_text }}</p>
            {% endif %}
      </td>
  </tr>
  <tr>
      <th align="right">
          <label for="id_email">{% trans "Email address:" %}</label>

      </th>
      <td>
          {{ form.email }}

          {% if form.email.errors %}
            <p class="fielderrors" style="display:inline;color:#FF3333">{{ form.email.errors.as_text }}</p>
          {% endif %}
      </td>
  </tr>
  <tr>
        <th align="right">
          <label for="id_password1">{% trans "Password:" %}</label>

      </th>
      <td>
          {{ form.password1 }}

          {% if form.password1.errors %}
            <p class="fielderrors" style="display:inline;color:#FF3333">{{ form.password1.errors.as_text }}</p>
          {% endif %}
      </td>
  </tr>
  <tr>
      <th align="right">
          <label for="id_password2">{% trans "Password (again):" %}</label>

      </th>
      <td>
          {{ form.password2 }}

          {% if form.password2.errors %}
            <p class="fielderrors" style="display:inline;color: #FF3333" >{{ form.password2.errors.as_text }}</p>
          {% endif %}
      </td>
  </tr>
  <tr>
      <th align="right">
          <label for="captcha">{% trans "Captcha, type the letters in the box:" %}</label>
      </th>
      <td>
           {{ form.captcha }}<img alt="Captcha" src="{{MEDIA_URL}}captchas/{{ form.captcha_img }}.jpg" />
           {% if form.captcha.errors %}
               <p class="fielderrors" style="display:inline;color: #FF3333" >{{ form.captcha.errors.as_text }}</p>
           {% endif %}
           <div style="display:none;">{{ form.hash }}</div>
      </td>
  </tr>
        </table>
        <p>
          <label>Have you read and accepted the <a id="terms" title="{% trans "Terms of Service"%}" href="{% url terms %}" class="iframe">terms of service?</a></label>
          
          {{ form.tos }} I agree.
          </p> 
          {% if form.tos.errors %}
            <p class="fielderrors" style="color: #FF3333" >{{ form.tos.errors.as_text }}</p>
          {% endif %}
        <p class="submit"><input type="submit" value="{% trans "Register" %} &rarr;"></p>
      </form>
     
    
    <p>{% trans "Please fill out the form (all fields are required), and your account will be created." %}<br>
    {% trans "You'll then be sent an email with instructions on how to finish your registration." %}</p>
    
    <p>{% trans "If you already have an account, you can" %} <a href="{% url auth_login %}">{% trans "login here" %}</a>.</p>
    
    {% endblock %}
    
{% block login %}{% endblock %}
