#mapid {
    width: 100%;
    height: 300px;
    position:relative;
}

.leaflet-popup-content h2 {
    font-size: 1em;
    font-weight: bold;
}

h4.tab-no-data {
  white-space: normal;
  min-height:25em;
}

/* HEADER */

.custom-header .navbar {
    border-bottom: 1px solid #e7e7e7;
}

.custom-header .navbar .btn-search {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.custom-header .navbar .form-search {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.custom-header .navbar .form-search::before {
    position: absolute;
    top: -0.5rem;
    right: -15px;
    left: -15px;
    content: "";
    width: calc(100% + 15px);
    height: 1px;
    background-color: #e7e7e7;
}

@media (min-width: 992px) {
    .custom-header .navbar .form-search {
        margin: 0 15px;
        padding: 0;
        border: none;
    }

    .custom-header .navbar .form-search::before {
        content: none;
    }
}

/* MAIN */


/* FOOTER */
