#mapid {
    width: 100%;
    height: 300px;
    position:relative;
}

.leaflet-popup-content h2 {
    font-size: 1em;
    font-weight: bold;
}

h4.tab-no-data {
  white-space: normal;
  min-height:25em;
}
