/* UTILS */

.reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.reset-fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#mapid {
    width: 100%;
    height: 300px;
    position:relative;
}

.leaflet-popup-content h2 {
    font-size: 1em;
    font-weight: bold;
}

h4.tab-no-data {
  white-space: normal;
  min-height:25em;
}

/* HEADER */

.custom-header .navbar {
    border-bottom: 1px solid #e7e7e7;
}

.custom-header .navbar .btn-search {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.custom-header .navbar .form-search {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.custom-header .navbar .form-search::before {
    position: absolute;
    top: -0.5rem;
    right: -15px;
    left: -15px;
    content: "";
    width: calc(100% + 15px);
    height: 1px;
    background-color: #e7e7e7;
}

@media (min-width: 992px) {
    .custom-header .navbar .form-search {
        margin: 0 15px;
        padding: 0;
        border: none;
    }

    .custom-header .navbar .form-search::before {
        content: none;
    }
}

/* MAIN */

.custom-main .table-station-detail tr:first-child td {
    border-top: none;
}

.custom-main .table-station-detail a {
    display: block;
    width: 100%;
    padding: 0.75rem;
    color: #333;
}

.custom-main .table-station-detail a:hover {
    text-decoration: none;
    color: #333;
}

.custom-main .home-table thead th {
    border-top: none;
}

.custom-main .show-more .rm-link {
    color: #007bff;
}

.custom-main .show-more .rm-link:hover {
    color: #0056b3;
}

@media (max-width: 767px) {
    .custom-main .table-station-detail tr {
        display: flex;
        flex-direction: column;
    }

    .custom-main .table-station-detail td {
        border: none
    }

    .custom-main .table-station-detail td:last-child {
        border-bottom: 1px solid #dee2e6;
    }

    .custom-main .table-station-detail td:not(:first-child) a {
        padding-top: 0;
    }

}

/* FOOTER */

.custom-footer ul {
    display: flex;
    justify-content: center;
}

.custom-footer li {
    position: relative;
    margin-right: 16px;
}

.custom-footer li:after {
    position: absolute;
    top: 0;
    right: -8px;
    content: "|";
    margin-right: -2px;
}

.custom-footer li:last-child:after {
    content: initial;
}
