table.hrain-index tr.odd { background-color: white; }
table.hrain-index tr.even { background-color: #EEEEEE; }
table.hrain-index tr th { width: 8em; }
table.hrain-index tr td a { text-decoration: None; }
