{% extends "base.html" %}
{% load i18n %}

{% block extracss %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
    <link type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />
    <link type="text/css" href="{{ STATIC_URL }}css/ui_override.css" rel="stylesheet" />
{% endblock %}

{% block content %}
		<h3>{% trans "Public profile for" %} {{ profile.user }}: </h3>
		<table> 
			<tr>
				<th align="left">{% trans "Username" %}</th>
				<td>{{profile.user}} </td>
			</tr>

			<tr>
				<th align="left">{% trans "Name" %}</th>
				<td>{{profile.full_name}} </td>
			</tr>
            
            {% if profile.email_is_public %}
  			<tr>
				<th align="left">{% trans "Email" %}</th>
				<td>{{profile.email}} </td>
			</tr>
            {% endif %}
			   
			<tr>
				<th align="left">{% trans "Address" %}</th>
				<td>{{profile.address}} </td>
			</tr>

			<tr>
				<th align="left">{% trans "Organization" %}</th>
				<td>{{profile.organization}} </td>
			</tr>
		</table>
		<br>
			{% if profile.user.created_stations%}
				<h3>{% trans "This user is the owner of the following stations: " %}</h3>
				<table class="tablesorter table_container">
				<thead>
				  <tr>
					<th>{% trans "Station ID" %}</th>
					<th>{% trans "Station Name" %}</th>	
					<th>{% trans "Water Basin" %}</th>	
					<th>{% trans "Water Division" %}</th>	
					<th>{% trans "Political Division" %}</th>	
					<th>{% trans "Type" %}</th>	
				  </tr>
				</thead>
				<tbody>
				{% for station in profile.user.created_stations.all %}
				{% url "station_detail" station_id as station_url %}
				  <tr class="{% cycle 'odd' 'even' %}">
					<td class="anchor_override"><a href="{% url "station_detail" station.id %}">{{ station.id }}</a></td>
					<td>{{ station.name }}</td>
					<td>{{ station.water_basin }}</td>
					<td>{{ station.water_division }}</td>
					<td>{{ station.political_division.name }}</td>
                                        <td>{% for stype in station.stype.all %}{{ stype.descr }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
				  </tr>
				{%endfor%}
				</tbody>
				</table>
			{% endif %}

{% endblock %}
