{% extends "base.html" %}
{% load i18n %}

{% block title %}
   {{ page.name }}
{% endblock %}

{% block extra_head %}
  <!--[if IE]><script language="javascript" type="text/javascript" src="../excanvas.min.js"></script><![endif]-->
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/excanvas.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.selection.min.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.highlighter.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.spider.js"></script>
  <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.timePicker.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.collapser.mod.js"></script>
  <link media="screen" href="{{ STATIC_URL }}css/tablesorter.css" type="text/css" rel="stylesheet">
  <link media="all" href="{{ STATIC_URL }}css/timePicker.css" type="text/css" rel="stylesheet">
  <style type="text/css" rel="stylesheet">
      .expArrow{ font-weight: normal; }
      .collArrow{ font-weight: normal; }
  </style>
  <script type="text/javascript" src="{{ STATIC_URL }}js/tooltip.js"></script>
  <script type="text/javascript">
    cd=[], vm=[], cm=[], cs=[];
    cc=0;
    default_last="{% if page.option_daily %}day{% else %}{% if page.option_weekly %}week{% else %}{% if page.option_monthly %}month{% else %}year{%endif%}{%endif%}{%endif%}";
    time_span = default_last;
    auto_refresh = {{ page.auto_refresh|lower }};
    auto_refresh_interval = {{ page.auto_refresh_interval }}*1000;

    function gup( name )
    {
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var results = regex.exec( window.location.href );
        if( results == null )
            return "";
        else
            return results[1];
    }

    function addChart(options){
        cm[cc]=options;
        cm[cc]['iter']=cc;
        cm[cc]['is_zoomed']=false;
        vm[cc]=[];
        cd[cc]=[];
        cs[cc]=[];
        cc++;
    }

    function addVariable(options){
        var chart_id = options['chart_id'];
        for(var i=0;i<cc;i++)
            if(cm[i]['id']==chart_id)
            {
                var chart_i = i;
                break;
            }
        var j = vm[chart_i].length;
        vm[chart_i][j] = options;
    }

    function get_data_from_server(i)
    {
        $("#chartarea"+cm[i]['id']).append("<img style=\"margin: auto; position: absolute; left: 240px; top: 100px; \" src=\""+STATIC_URL+"images/icons/progress.gif\">");
        for(var j=0;j<vm[i].length;j++)
            vm[i][j]['status']=false;
        var achart_status=false;
        for(var j=0;j<vm[i].length;j++)
        {
            var url_params = {object_id: vm[i][j]['series_id'], last: time_span};
            if(gup('date'))
            {   url_params['date'] = gup('date');
                if(gup('time'))url_params['time'] = unescape(gup('time'));
            }
            if(cm[i]['is_vector'])
                url_params['vector']="true";
            $.getJSON('{% url "timeseries_data" %}', url_params, 
                (function(i,j){
                return function(chart_data){
                var astatus=true;
                if(chart_data){
                    cd[i][j]=chart_data['data'];
                    cs[i][j]=chart_data['stats'];
                    vm[i][j]['status']=true;
                }
                for(var k=0;k<vm[i].length;k++)
                    astatus = astatus && vm[i][k]['status'];
                if(astatus)
                {
                    achart_status=true;
                    $("#chartarea"+cm[i]['id']).remove(":contains('img style')");
                    if(cm[i]['can_zoom'])$("#unzoom"+cm[i]['id']).hide();
                    flot_init(i);
                }
            }})(i,j));
        }
//            if(!achart_status)
//                 $("#data_holder"+cm[i]['id']).html("<h3>No data locally available!</h3>");

    }
    
    function chartUnzoom(id)
    {
        var i, j;
        i=-1;
        for(j=0;j<cm.length;j++)
            if(cm[j]['id']==id)
            {
                i = j;
                break;
            }
        if(i>-1){
            $("#chartarea"+cm[i]['id']).unbind("plotselected");
            $("#chartarea"+cm[i]['id']).unbind("plothover");
            get_data_from_server(i);    
            cm[i]['is_zoomed']=false;
        }
    }

    function refresh_chart()
    {
        if(gup('date')||gup('time'))
            return;
        for(var i=0;i<cc;i++)
        {
            if(cm[i]['is_zoomed'])
                continue;
            $("#chartarea"+cm[i]['id']).unbind("plotselected");
            $("#chartarea"+cm[i]['id']).unbind("plothover");
            get_data_from_server(i);
        }
    }

    function load_initial_data()
    {
        time_span = gup('last');
        if(!time_span)time_span=default_last;
        $('a#'+time_span).each(function(){ $(this).replaceWith($(this).text()); });
        for(var i=0;i<cc;i++)
            get_data_from_server(i);
        if(auto_refresh)
            setInterval("refresh_chart()", auto_refresh_interval)
    }

	$(document).ready(function() {
		$("input.date").datepicker({ dateFormat: 'yy-mm-dd' });
        $("input.time").timePicker();
        $("input.date").val(gup('date'));
        if($("input.date").val())
            $("input.time").val(unescape(gup('time')));
        $("input.last").val(gup('last'));
        if($("input.date").val()||$("input.time").val())
            $("#date_select_form").show();
        $('.date_select').collapser({target: 'next', targetOnly: 'div',
                                     effect: 'fade', changeText: true,
                                     expandHtml: '{% trans "Show charts for a specific date" %}',
                                     collapseHtml: '{% trans "Hide date selection - Show recent measurements" %}',
                                     expandClass: 'expArrow', collapseClass: 'collArrow'},
                                     function(){},
                                     function(){
                                         if($("#date_select").hasClass("expArrow"))
                                             window.location="{% url "chartpage_detail" page.url_name %}?last="+gup('last');
                                     });
        var tooltipopts = {
                           position: 'bottom right',
                           offset: [-65, 10],
                           effect: 'fade'
        };
        {% for chart in charts %}
        addChart({id:{{chart.id}}, name:"{{chart.name}}", 
                  min:{{chart.display_min|lower}},
                  max:{{chart.display_max|lower}},
                  avg:{{chart.display_avg|lower}},
                  has_stats:{{chart.has_stats|lower}},
                  can_zoom:{{chart.can_zoom|lower}},
                  is_vector:{{chart.is_vector|lower}}
                 });
        $("#chartarea{{chart.id}}").tooltip(tooltipopts);
        {% endfor %}

        {% for var in variables %}
        addVariable({id:{{var.id}}, name:"{{var.name}}",
                     series_id:{{var.timeseries.id}},chart_id: {{var.chart.id}}});
        {% endfor %}

        load_initial_data();
	});

    function format_date(timestamp){
        if(timestamp==null)
            return '-';
        var hours, minutes, zoneCorrection;
        adate = new Date(timestamp);
        zoneCorrection=60000*adate.getTimezoneOffset();
        timestamp+=zoneCorrection;
        adate = new Date(timestamp);
        result = adate.getFullYear();
        result = result+'/'+(adate.getMonth()+1)+'/'+adate.getDate()+' ';
        hours = adate.getHours();
        minutes = adate.getMinutes();
        if(hours<10) hours='0'+hours;
        if(minutes<10) minutes='0'+minutes;
        result = result+hours+':'+minutes;
        return result;
    }

    function format_float(avalue){
        if(avalue==null)
            return '-';
        return avalue.toFixed(2);
    }

    function get_zoomed_data(i, ranges, datas){
        var from_pos, to_pos;
        var actual_xaxis_from, actual_xaxis_to;
        $("#chartarea"+cm[i]['id']).append("<img style=\"margin: auto; position: absolute; left: 240px; top: 100px; \" src=\""+STATIC_URL+"images/icons/progress.gif\">");
        for(var j=0;j<vm[i].length;j++)
            vm[i][j]['status']=false;
        var achart_status=false;
        $("#chartarea"+cm[i]['id']).unbind("plotselected");
        $("#chartarea"+cm[i]['id']).unbind("plothover");
        for(var j=0;j<vm[i].length;j++)
        {
            var data = datas[j]['data'];
            from_pos = data[0][2];
            to_pos = data[data.length-1][2];
            for(var k=0;k<data.length;k++){
                if(ranges.xaxis.from<=data[k][0]){
                    from_pos = data[k][2];
                    actual_xaxis_from = data[k][0];
                    break;
                }
            }
            for(var k=data.length-1;k>=0;k--){
                if(ranges.xaxis.to>=data[k][0]){
                    to_pos = data[k][2];
                    actual_xaxis_to = data[k][0];
                    break;
                }
            }
            var urlparams = {object_id: vm[i][j]['series_id'],
                             start_pos:from_pos, end_pos:to_pos}; 
            if(cm[i]['is_vector'])
                urlparams['vector']='true';
            $.getJSON('{% url "timeseries_data" %}', urlparams, 
                (function(i,j){
                return function(chart_data){
                var astatus=true;
                if(chart_data){
                    cd[i][j]=chart_data['data'];
                    cs[i][j]=chart_data['stats'];
                    vm[i][j]['status']=true;
                }
                for(var k=0;k<vm[i].length;k++)
                    astatus = astatus && vm[i][k]['status'];
                if(astatus)
                {
                    achart_status=true;
                    $("#chartarea"+cm[i]['id']).remove(":contains('img style')");
                    flot_init(i);
                    if(cm[i]['can_zoom'])$("#unzoom"+cm[i]['id']).show();
               }
            }})(i,j));
        }
        cm[i]['is_zoomed']=true;
    }

	function flot_init(i) {
        var from_x, to_x, tol;
        var d = [];
        for(var j=0;j<cd[i].length;j++){
            d[j] = {label: vm[i][j]['name'], data: cd[i][j]}
        }
        if(cm[i]['is_vector'])
        {
            var x0, x1, y0, y1, t0, t1, u0, u1;
            for(var k=d[0]['data'].length-1;k>0;k--)
            {
                y0 = d[0]['data'][k-1][1], y1 = d[0]['data'][k][1];
                if(y0=='null' || y1=='null')
                    continue;
                if(Math.abs(y1-y0)>180)
                {
                    x0 = d[0]['data'][k-1][0], x1 = d[0]['data'][k][0];
                    t0 = d[0]['data'][k-1][2], t1 = d[0]['data'][k][2];
                    u0=(y0<180?0:360)
                    u1=(y1<180?0:360)
                    d[0]['data'].splice(k, 0, [x0+0.25*(x1-x0), u0, t0], [0.5*(x0+x1), 'null', t1],
                                              [x1-0.25*(x1-x0), u1, t1]);
                }

            }
        }
        from_x = d[0]['data'][0][0];
        to_x = d[0]['data'][d[0]['data'].length-1][0];
        tol = (to_x-from_x)*0.01;
        from_x-=tol;
        to_x+=tol;
        var marking_opts = [];
        if(cm[i]['has_stats']){
            var stats= cs[i][0];
            if(cm[i]['is_vector'])
                stats['avg'] = stats['vavg']
            var items = ['max', 'min', 'last', 'avg', 'sum'];
            for(var item in items)
                $('#'+items[item]+cm[i]['id']).text(format_float(stats[items[item]]));
            items = items.slice(0,3);
            for(item in items){
            //Fix time zone UGLY
                $('#'+items[item]+'_tstmp'+cm[i]['id']).text(format_date(stats[items[item]+'_tstmp']));
            }
            if(cm[i]['min'])
                marking_opts = marking_opts.concat([ { yaxis: { from: stats['min'], to: stats['min'] } , color: "#8888aa"},  
                        { xaxis: { from: stats['min_tstmp'], to: stats['min_tstmp'] } , color: "#ddddff"}]);
            if(cm[i]['max'])
                marking_opts = marking_opts.concat([ { yaxis: { from: stats['max'], to: stats['max'] } , color: "#aa8888"},  
                        { xaxis: { from: stats['max_tstmp'], to: stats['max_tstmp'] } , color: "#ffdddd"}]);
            if(cm[i]['avg'])
                marking_opts.push( { yaxis: { from: stats['avg'], to: stats['avg'] } , color: "#88aa88"});
        }
		var options = {
			xaxis: { mode: "time", timeformat: "%y/%m/%d %H:%M",
            min: from_x, max: to_x, ticks: 5},
			selection: { mode: "x" },
            grid:{markings: marking_opts, hoverable: true,
                  autoHighlight: false},
            legend: {show: (d.length>1), position: 'nw'}
		};
        if(cm[i]['is_vector'])
            options['yaxes'] = [ {position: "left", min:0, max:360, show: true,
            ticks: [0, 45, 90, 135, 180, 225, 270, 315, 360]},
                {position: "right", ticks: [[0, 'N'], [45, 'NE'], [90, 'E'],
                      [135, 'SE'], [180, 'S'], [225, 'SW'],
                      [270, 'W'], [315, 'NW'], [360, 'N']], show: true}];
		var plot = $.plot($("#chartarea"+cm[i]['id']), d, options);
        $("#chartarea"+cm[i]['id']).unbind("plotselected");
        $("#chartarea"+cm[i]['id']).unbind("plothover");
        if(cm[i]['can_zoom'])
            $("#chartarea"+cm[i]['id']).bind("plotselected", function (event, ranges) {
                get_zoomed_data(i, ranges, d);
            });
        $("#chartarea"+cm[i]['id']).bind("plothover", function(event, pos, item){
            $("#charttooltip"+cm[i]['id']).html('<div>'+format_date(pos.x)+'</div>');
        });
        $("#chartarea"+cm[i]['id']).mouseout(function(){
            $("#charttooltip"+cm[i]['id']).html('');
        });
        if(cm[i]['is_vector'])
        {
            var alabel = '';
            var data2 = [];
            var d2 = [];
            for(k=0;k<cs[i].length;k++)
            {
                d2[k]=[];
                for(j=0;j<8;j++)
                {
                    d2[k][j] = [];   
                    d2[k][j][0]=j, d2[k][j][1]=cs[i][k]['vectors'][j];
                }
                if(cs[i].length>1)
                    alabel =  vm[i][k]['name'];
                data2[k]={data: d2[k], spider: {show: true}, label: alabel};
            }
            var rose = $.plot($("#rosearea"+cm[i]['id']),data2,
                                { series: { spider: {active: true,
                                  scaleMode: 'all',
                                  legs: { data: [{label: 'N'}, {label: 'NE'},
                                  {label: 'E'}, {label: 'SE'}, {label: 'S'},
                                  {label: 'SW'}, {label: 'W'}, {label: 'NW'}],
                                  legStartAngle: 270, fillStyle: "blue"},
                                  grid: {mode: "radar"}}}});
        }
	}

  </script>
{% endblock %}

{% block extracss %}
<style>
    span.max{ font-weight: bold; color: #aa8888; }
    span.min{ font-weight: bold; color: #8888aa; }
    span.avg{ font-weight: bold; color: #88aa88; }
    span.sum{ font-weight: bold; color: #888888; }
    div.textareas{ padding: 15px; float: left; border-width: 1px; border-style: dotted; border-color: #bbbbbb; background-color: #f7f7ff;}
    .tooltip {
        display:none;
        background-color: #fff;
        border-color: #00a;
        border-width: 1px;
        border-style: dotted;
        font-size:0.9em;
        height:1.4em;
        width:112px;
        padding:5px;
        color:#000; 
    }
</style>
{% endblock %}

{% block content %}
    <h3>{{page.name}}</h3>
    {% if page.description %}
    <p>{{page.description}}</p>
    {% endif %}
    <div style="margin: 4px;">
    <p style="display: block; float: left;"><strong>Time span:</strong>&nbsp;&nbsp;
    {% if page.option_annual %}<a href="{% url "chartpage_detail" page.url_name %}?last=year" id="year">year</a>&nbsp;{% endif %}
    {% if page.option_monthly %}<a href="{% url "chartpage_detail" page.url_name %}?last=month" id="month">month</a>&nbsp;{% endif %}
    {% if page.option_weekly %}<a href="{% url "chartpage_detail" page.url_name %}?last=week" id="week">week</a>&nbsp;{% endif %}
    {% if page.option_daily %}<a href="{% url "chartpage_detail" page.url_name %}?last=day" id="day">day</a>{% endif %}</p>
        <p class='date_select' id='date_select' style="margin-left: 3em; margin-bottom: 2.5em; float: left;"></p> 
        <div style="clear: left; border:1px solid gray; padding: 6px; margin: 1.5em 3px; display: none;" id="date_select_form"><p>
        <form action="" method="get">
            {% trans "Date: " %}
            <input name="date" class="date" id="date" type="text" readonly="readonly"/>
            <input name="last" class="last" type="text" style="display:none;"/>
            {% trans "Time: " %}
            <input name="time" class="time" id="time" type="text" size=7 readonly="readonly" />
            <input type=submit value="{% trans 'Submit' %}" />
        </form></p></div>
    </div>
    {% for chart in charts %}
        <div id="chartdiv{{chart.id}}" style="float:left; clear:both; background-color: #f9fff9; border-bottom: thin solid #eeeeee; width:99%;">
			<p style="margin-left: 240px; display:inline;"> <strong>{{chart.name}}</strong></p>
			<div id="data_holder{{chart.id}}">
    			<div id="chartarea{{chart.id}}" style="margin:10px;width:480px;height:320px;float:left;position: relative;"></div>
                <div id="charttooltip{{chart.id}}" class="tooltip"></div>
                {% if chart.has_info_box %}
                <div id="textarea{{chart.id}}" class="textareas">
                    {% if chart.display_max %}
                    <p>{% trans "Maximum value: " %}<span class="max" id="max{{chart.id}}"></span>,  
                       {% trans "at: " %}<span class="max" id="max_tstmp{{chart.id}}"></span></p>{% endif %}
                    {% if chart.display_avg %}
                    <p>{% trans "Average value: " %}<span class="avg" id="avg{{chart.id}}"></span></p>{% endif %}
                    {% if chart.display_sum %}
                    <p>{% trans "Sum: " %}<span class="sum" id="sum{{chart.id}}"></span></p>{% endif %}
                    {% if chart.display_min %}
                    <p>{% trans "Minimum value: " %}<span class="min" id="min{{chart.id}}"></span>,  
                       {% trans "at: " %}<span class="min" id="min_tstmp{{chart.id}}"></span></p>{% endif %}
                    {% if chart.display_lastvalue %}
                    <p>{% trans "Last measurement: " %}<span class="sum" id="last{{chart.id}}"></span>,  
                       {% trans "at: " %}<span class="sum" id="last_tstmp{{chart.id}}"></span></p>{% endif %}
                    {% if chart.mainvar.link_to_timeseries %}
                    <p>
                       <a href={% url "enhydris.hcore.views.timeseries_detail" chart.mainvar.timeseries.id %}>
                       {% trans "Open time series page" %}</a></p>{% endif %}
                    {% if chart.can_zoom %}
                    <p><span id="dragtozoom{{chart.id}}">{%trans "Drag on chart to zoom in" %}</span>
                    <a href="javascript:chartUnzoom({{chart.id}});" style="display: none;" id="unzoom{{chart.id}}"> - {% trans "Unzoom chart" %}</a>{% endif %}
                </div>
                {% endif %}
                {% if chart.is_vector %}
    			<div id="rosearea{{chart.id}}" style="margin:10px;width:320px;height:320px;float:left;position: relative;clear:right;"></div>
                {%endif%}
			</div>
        </div>
    {% endfor %}
{% endblock %}
