{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}
{% trans "Frequently Asked Questions (FAQ)" %}
{% endblock %}

{% block content %}
<h1>
{% trans "Frequently Asked Questions (FAQ)" %}
</h1>
<h2>
<a name="top"></a>
{% trans "Topics" %}
</h2>
<ol>
{% for topic in topics %}
<h3><li><a href="#{{ topic.slug }}">{{ topic.name }}</a></li></h3>
    <ol>
    {% for item in items_list %}
        {% ifequal item.topic.id topic.id %}
            <li><a href="#{{ item.id}}">
            {{ item.question }}</a></li>
        {% endifequal %}
    {% endfor %}
    </ol>
{% endfor %}
</ol>
<h2>
{% trans "Answers" %}
</h2>
<ol>
{% for topic in topics %}
    <a name="{{ topic.slug }}"></a>
    <h3><li>{{topic.name}}</li></h3>
    <ol>
    {% for item in items_list %}
        {% ifequal item.topic.id topic.id %}
            <a name="{{ item.id }}"></a>
            <li><p><strong>{{ item.question }}</strong></p>
                {{ item.answer|markdown }}
            </li>
        {% endifequal %}
    {% endfor %}
    </ol>
    <p>
    <a href="#top">{% trans "Back to the top..." %}</a>
    </p>
{% endfor %}
</ol>
{% endblock %}
