{% extends "enhydris/station_list/common.html" %}
{% load i18n %}

{% block title %}
  {% trans 'Stations' %} — {{ block.super }}
{% endblock %}

{% block content %}
  <div class="container-fluid px-0">
    {% include "enhydris/station_list/map.html" %}
   <!--TODO temp comment
    <hr>-->
    {% include "enhydris/station_list/station_list.html" %}
  </div>
{% endblock %}

{% block map_js %}
  {{ block.super }}
  <script type="text/javascript">
    enhydris.mapMode = 'many-stations';
  </script>
{% endblock %}
