{% load i18n %}
{% load sorting %}
{% load humanize %}

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>{% sorter "name" request.session.sort _("Name") %}</th>
        <th>{% sorter "owner" request.session.sort _("Owner") %}</th>
        <th>{% trans "Last update" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td><a href="{% url "station_detail" pk=object.id %}">{{ object.name }}</a></td>
          <td>{{ object.owner|default_if_none:"" }}</td>
          <td>{{ object.last_update|naturaltime|default_if_none:"" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
