{% load i18n %}
{% load humanize %}

<ul class="reset-list station-list">
  {% for object in object_list %}
    <li>
      <h3 class="reset-text">
        <a href="{% url 'station_detail' pk=object.id %}">{{ object.name }}</a>
      </h3>
      <p class="reset-text">
        <b>{% trans "Owner:" %}</b>
        <span>{{ object.owner|default_if_none:"" }}</span>
      </p>

      <div>
        {% if object.last_update %}
          <p class="reset-text">
            <b>{% trans "Last update:" %}</b>
            <span>{{ object.last_update|naturaltime|default_if_none:"" }}</span>
          </p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
