{% load i18n %}

<div class="station-info-group">
  {% if station.start_date and station.end_date %}
    {% blocktrans with start_date=station.start_date|date:"SHORT_DATE_FORMAT" end_date=station.end_date|date:"SHORT_DATE_FORMAT" %}
      <p><b>Period of operation:</b> {{start_date}} - {{end_date}}</p>
    {% endblocktrans %}
  {% elif station.start_date %}
    {% blocktrans with start_date=station.start_date|date:"SHORT_DATE_FORMAT" %}
      <p><b>Start of operation:</b> {{start_date}}</p>
    {% endblocktrans %}
  {% elif station.end_date %}
    {% blocktrans with end_date=station.end_date|date:"SHORT_DATE_FORMAT" %}
      <p><b>End of operation:</b> {{end_date}}</p>
    {% endblocktrans %}
  {% endif %}

  {% if station.last_update_naive %}
    {% blocktrans with last_update_naive=station.last_update_naive|date:"SHORT_DATETIME_FORMAT" %}
      <p><b>Last update:</b> {{last_update_naive}}</p>
    {% endblocktrans %}
  {% endif %}
</div>