{% extends "enhydris/base/main_with_map.html" %}
{% load i18n %}
{% load rules %}
{% load static %}

{% block title %}
  {{ station.name }} — {{ block.super }}
{% endblock %}

{% block content %}

  <section class="station-detail">
    {% include "enhydris/station_detail/map.html" %}

    <div class="container station-info">
      <div class="station-info-header">
        <div class="station-title-wrapper">
          <h1>{{ station.name }}</h1>
          {% has_perm "enhydris.change_station" request.user station as can_edit_station %}
          {% if can_edit_station %}
            <a class="btn btn-icon btn-station-edit" href="{% url 'station_edit' pk=station.id%}"></a>
            <a class="btn btn-icon btn-station-telemetry" href="{% url 'telemetry_wizard' station_id=station.id seq=1 %}"></a>
            <a class="btn btn-icon btn-station-telemetry-logs" href="{% url 'telemetry_logs' station_id=station.id %}"></a>
          {% endif %}
        </div>
        <div>
          ϕ, λ = {{ station.geom.y | floatformat:5 }}, {{ station.geom.x | floatformat:5 }}
          {% if station.original_srid != 4326 %}
            <p>
              {% blocktrans with srid=station.original_srid x=station.original_abscissa y=station.original_ordinate %}
                (originally srid={{ srid }}, x={{ x }}, y={{ y }})
              {% endblocktrans %}
            </p>
          {% endif %}
          {% if station.altitude != None %}
            z = {{ station.altitude|floatformat:2 }}
          {% endif %}
        </div>
      </div>

      <div class="station-info-main">
        {% if object.gentityimage_set.exists %}
          <div class="station-image-wrapper featured-image">
            {% include "enhydris/station_detail/station-image.html" %}
          </div>
        {% endif %}

        <div class="station-text-wrapper">
          {% include "enhydris/station_detail/details.html" %}
          {% if object.gentityimage_set.exists %}
            <div class="station-gallery-wrapper">
              {% include "enhydris/station_detail/station-gallery.html" %}
            </div>
          {% endif %}
        </div>
      </div>

      <div id="content" class="station-info-additional">
        <ul id="tabs" class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" href="#timeseries_groups" data-toggle="tab" aria-controls="timeseries" role="tab" aria-selected="true">{% trans "Data" %}</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#gentity_files" data-toggle="tab" aria-controls="gentity_files" role="tab" aria-selected="false">{% trans "Files" %} (2)</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#gentity_events" data-toggle="tab" aria-controls="gentity_events" role="tab" aria-selected="false">{% trans "Events" %} (1)</a>
          </li>
        </ul>

        <div class="tab-content">
          {% include "enhydris/station_detail/tabs/gentity_files.html" %}
          {% include "enhydris/station_detail/tabs/gentity_events.html" %}
          {% include "enhydris/station_detail/tabs/timeseries_groups.html" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block map_js %}
  {{ block.super }}
  <script type="text/javascript">
    enhydris.mapMode = 'single-station';
    {% if station %}enhydris.agentityId = {{station.id}};{% endif %}
  </script>
{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/vendor/readmore.min.js' %}"></script>
  <script>
    $readMoreJS.init({
      target: '.show-more p',
      numOfWords: 35,
      toggle: true,
      moreLink: 'read more ...',
      lessLink: 'read less',
      linkClass: 'rm-link',
      containerClass: 'rm-container'
    });
  </script>
{% endblock %}
