{% extends "enhydris/base/main-with-map.html" %}
{% load i18n %}
{% load rules %}

{% block title %}
  {{ station.name }} — {{ block.super }}
{% endblock %}


{% block mainjs %}
  {{ block.super }}
  <script type="text/javascript">
    function togl(name) {
      $("#"+ name).stop().toggle()
    }

    $(document).ready(function ($) {
      $('#tabs').tab();
    });
  </script>
{% endblock %}


{% block map_js %}
  {{ block.super }}
  <script type="text/javascript">
    enhydris.mapMode = 'single-station';
    {% if station %}enhydris.agentityId = {{station.id}};{% endif %}
  </script>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <h1>{{ station.name }}</h1>
      <p>
        [
          {% for stype in station.stype.all %}{{ stype.descr }}{% if not forloop.last %}, {% endif %}{% endfor %},
          {% if station.is_automatic %}{% trans "automatic" %}{% else %}{% trans "conventional" %}{% endif %}
        ]
      </p>
      <div class="col-md-4">
        {% include "enhydris/station_detail/map.html" %}
      </div>
      <div class="col-md-8">
        {% include "enhydris/station_detail/details.html" %}
        {% has_perm "enhydris.change_station" request.user station as can_edit_station %}
        {% if can_edit_station %}
            <a class="btn btn-xs btn-primary" href='{% url "station_edit" pk=station.id%}'>{% trans "Edit" %}</a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">
    <hr>
    <div id="content">
      <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#timeseries" data-toggle="tab" aria-controls="timeseries" role="tab">{% trans "Timeseries" %}</a></li>
        <li role="presentation" ><a href="#gentity_files" data-toggle="tab" aria-controls="gentity_files" role="tab">{% trans "Files" %}</a></li>
        <li role="presentation" ><a href="#gentity_events" data-toggle="tab" aria-controls="gentity_events" role="tab">{% trans "Events" %}</a></li>
        <li role="presentation" ><a href="#instruments" data-toggle="tab" aria-controls="instruments" role="tab">{% trans "Instruments" %}</a></li>
      </ul>
      <div class="tab-content">
        {% include "enhydris/station_detail/tabs/gentity_files.html" %}
        {% include "enhydris/station_detail/tabs/gentity_events.html" %}
        {% include "enhydris/station_detail/tabs/instruments.html" %}
        {% include "enhydris/station_detail/tabs/timeseries.html" %}
      </div>
    </div>
  </div>
{% endblock %}
