{% extends "base.html" %}

{% block title %}
Rainfall event analysis - {{ event.start_date|date:"Y-m-d H:i" }}
{% endblock %}

{% block content %}

<h1>Rainfall event analysis</h1>
<p><strong>Start of event:</strong> {{ event.start_date|date:"Y-m-d H:i" }}</p>
<p><strong>End of event:</strong> {{ event.end_date|date:"Y-m-d H:i" }}</p>

<table style="margin-top: 1.5em;">
<tr style="vertical-align: top"><td>
  <h2>Total rainfall per station</h2>
  <table>
    {% for t in event.timeseriesevent_set.all %}
      <tr>
        <th style="text-align: left">{{ t.timeseries.gentity.name }}:</th>
        <td style="text-align: right">{{ t.total_precipitation }}</td>
      </tr>
    {% endfor %}
  </table>
</td><td>
  <img src="{{ HRAIN_STATIC_CACHE_URL }}/hrain-e{{ event.id|stringformat:"04d" }}.png" />
</td></tr>
</table>

<h2>Rainfall evolution per station</h2>
<table style="border-collapse: collapse; border: hidden;">
  {% for t in event.timeseriesevent_set.all %}
    <tr style="vertical-align: top; border-bottom: solid lightgray 3px;">
      <th style="text-align: left">{{ t.timeseries.gentity.name }}</th>
      <td><img src="{{ HRAIN_STATIC_CACHE_URL }}/hrain-e{{ t.event.id|stringformat:"04d" }}-t{{ t.timeseries.id|stringformat:"05d" }}.png" /></td>
    </tr>
  {% endfor %}
</table>

<h2>Comparison of monthly areal rainfalls</h2>
{% for d,v in monthly_surface_timeseries.items %}
    {% if forloop.first %}
      <table>
      <thead>
      <tr><th>Month</th>
          <th>Total areal rainfall</th></tr>
      </thead>
      <tbody>
    {% endif %}
    {% if d.month == event.start_date.month %}
      <tr>
        <td>{{d.year}}-{{d.month|stringformat:"02d"}}
        </td>
        <td>
          <div style="width: 5em; text-align:right">{{v|floatformat:1}}</div>
        </td>
      </tr>
    {% endif %}
    {% if forloop.last %}
      </tbody></table>
    {% endif %}
{% endfor %}
<p>(Data for last entry may be partial.)</p>

{% endblock %}
