{% extends "base.html" %}

{% block title %}
   Rainfall events
{% endblock %}

{% block extracss %}
   <link type="text/css" href="{{ STATIC_URL }}css/hrain.css" rel="stylesheet">
{% endblock %}

{% block content %}

<table class="hrain-index">
{% for group in eventgroups %}
<tr class="{% cycle 'odd' 'even' %}">
  <th>{{ group.year }}</th>
  <td>
  {% for e in group.events %}
      <span style="font-size: {{ e.fontsize }}pt">
      <a href="{% url enhydris.hrain.views.event e.id %}">{{ e.start_date|date:"Md" }}</a></span>
  {% endfor %}
  </td>
</tr>
{% endfor %}
</table>

{% endblock %}
