{% extends "base.html" %}
{% load i18n %}

{% block title %}Contact us!{% endblock %}

{% block extra_head %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/contact.css" />
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.validate.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#ajax-contact-form").validate();
	});
</script>  
{% endblock %}

{% block content %}


<div id="form" style="width: 700px;margin:auto;">

<fieldset class="info_fieldset"><legend>Contact us!</legend>


<form id="ajax-contact-form" action="." method="post">
<div><input type="hidden" value="{{ hash }}" name="hash" /></div>
<div><label for="cname">Name</label><input id="cname" class="textbox required" type="text" name="name" value="" /><br /></div>

<div><label for="cmail">E-Mail</label><input id="cmail" class="textbox required email " type="text" name="email" value="" /><br /></div>

<div><label for="csubject">Subject</label><input id="csubject" class="textbox required" type="text" name="subject" value="" /><br /></div>

<div><label for="cmsg">Message</label><textarea id="cmsg" class="textbox required" name="message" rows="10" cols="40"></textarea><br /></div>

<div><label for="captcha">Captcha</label> Type the letters in the box:<br /></div>
<div><label><span style="color:red">{{message}}</span></label><img alt="Captcha" src="{{MEDIA_URL}}captchas/{{captcha}}" /><input class="required" type="text" size="20"
style="line-height=40px" name="captcha" id="captcha"/><br /></div>

<div><label>&nbsp;</label><input class="submit" type="submit" name="submit" value="Send Message" /></div>
</form>

</fieldset>

</div>


{% endblock %}
