{% load i18n %}
{% load rules %}

<div id="gentity_files" class="tab-pane fade" aria-labelledby="gentity_files" role="tabpanel">
  <h4 class="my-3 h5">{% trans 'Station (Gentity) Files' %}</h4>
  {% if station.gentityfile_set.count %}
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th scope="col">{% trans 'ID' %}</th>
          <th scope="col">{% trans 'Date' %}</th>
          <th scope="col">{% trans 'Description' %}</th>
          <th scope="col">{% trans 'Remarks' %}</th>
          <th scope="col">{% trans 'Download' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for file in station.gentityfile_set.all %}
          {% has_perm "enhydris.view_gentityfile_content" request.user file as can_view_file_data %}
          <tr>
            <td>{{ file.id }}</td>
            <td>{{ file.date|date:"Y/m/d" }}</td>
            <td>{{ file.descr }}</td>
            <td class="show-more"><p>{{ file.remarks }}</p></td>
            <td>
              {% if can_view_file_data %}
                <a href="{% url 'file-content' station_id=station.id pk=file.id %}"><i class="bi bi-cloud-arrow-down"></i></a>
              {% else %}
                {% trans "Unauthorized" %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert alert-info" role="alert">{% trans "No data available" %}</div>
  {% endif %}
</div>
