{% load i18n %}
{% load rules %}

<div id="gentity_files" class="tab-pane fade" aria-labelledby="gentity_files" role="tabpanel">
  {% if station.gentityfile_set.count %}
    <table class="table station-table">
      <thead>
        <tr>
          <th class="station-column-id">{% trans 'ID' %}</th>
          <th class="station-column-desc">{% trans 'Description' %}</th>
          <th class="station-column-download">{% trans 'Download' %}</th>
          <th class="station-column-blank"></th>
        </tr>
      </thead>
      <tbody>
        {% for file in station.gentityfile_set.all %}
          {% has_perm "enhydris.view_gentityfile_content" request.user file as can_view_file_data %}
          <tr>
            <td class="station-column-id">
              <span class="station-cell-title">{% trans 'ID' %}</span>
              <span>{{ file.id }}</span>
            </td>
            <td class="station-column-desc">
              <span class="station-cell-title">{% trans 'Description' %}</span>
              <span>{{ file.descr }}</span>
            </td>
            <td class="station-column-download">
              <span class="station-cell-title">{% trans 'Download' %}</span>
              {% if can_view_file_data %}
                <a href="{% url 'file-content' station_id=station.id pk=file.id %}" aria-label="{% trans 'Download' %}"><i class="icon-download"></i></a>
              {% else %}
                {% trans 'Unauthorized' %}
              {% endif %}
            </td>
            <td class="station-column-blank"></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="mt-4 alert alert-info" role="alert">{% trans 'No data available' %}</div>
  {% endif %}
</div>
