{% load i18n %}

<div id="gentity_events" class="tab-pane fade" aria-labelledby="gentity_events" role="tabpanel">
  {% if station.gentityevent_set.count %}
    <table class="table station-table">
      <thead>
        <tr>
          <th class="station-column-id">{% trans 'ID' %}</th>
          <th class="station-column-date">{% trans 'Date' %}</th>
          <th class="station-column-type">{% trans 'Type' %}</th>
          <th class="station-column-user">{% trans 'User' %}</th>
          <th class="station-column-report">{% trans 'Details' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for event in station.gentityevent_set.all %}
          <tr>
            <td class="station-column-id">
              <span class="station-cell-title">{% trans 'ID' %}</span>
              <span>{{ event.id }}</span>
            </td>
            <td class="station-column-date">
              <span class="station-cell-title">{% trans 'Date' %}</span>
              <span>{{ event.date|date:"Y/m/d" }}</span>
            </td>
            <td class="station-column-type">
              <span class="station-cell-title">{% trans 'Type' %}</span>
              <span>{{ event.type }}</span>
            </td>
            <td class="station-column-user">
              <span class="station-cell-title">{% trans 'User' %}</span>
              <span>{{ event.user }}</span>
            </td>
            <td class="station-column-report show-more">
              <span class="station-cell-title">{% trans 'Details:' %}</span>
              <p>{{ event.report }}</p>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="mt-4 alert alert-info" role="alert">{% trans 'No data available' %}</div>
  {% endif %}
</div>
