{% load i18n %}

<div role="tabpanel" class="tab-pane" id="gentity_codes">
  <h4>{% trans 'Station (Gentity) Alternative Codes' %}</h4>
  <div class="table-responsive">
    {% if station.gentityaltcode_set.count %}
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>{% trans 'ID' %}</th>
              <th>{% trans 'Type' %}</th>
              <th>{% trans 'Value' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for code in station.gentityaltcode_set.all %}
              <tr>
                <td>{{ code.id }}</td>
                <td>{{ code.type }}</td>
                <td>{{ code.value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h4 class="tab-no-data">{% trans "No data available" %}</h4>
    {% endif %}
  </div>
</div>
