{% load i18n %}

<div id="timeseries" class="tab-pane fade show active" role="tabpanel" aria-labelledby="timeseries">
  {% if station.timeseries.count %}
    <table class="table table-hover table-station-detail">
      <tbody>
        {% for t in station.timeseries.all %}
          {% if not t.hidden %}
            {% with t.id as t_id %}
              {% url "timeseries_detail" t_id as timeseries_url %}
              <tr>
                <td class="p-0">
                  <a href="{% url 'timeseries_detail' station_id=station.id pk=t_id %}">id={{ t_id }}</a>
                </td>
                <td class="p-0">
                  <a href="{% url 'timeseries_detail' station_id=station.id pk=t_id %}">{% if t.name %}"{{ t.name }}"{% endif %}</a>
                </td>
                <td class="p-0">
                  <a href="{% url 'timeseries_detail' station_id=station.id pk=t_id %}">{{ t.variable }}</a>
                </td>
                <td class="p-0">
                  <a href="{% url 'timeseries_detail' station_id=station.id pk=t_id %}">
                    {% if not t.time_step %}
                      {% trans 'Variable step' %}
                    {% else %}
                      {{ t.time_step }}
                    {% endif %}
                  </a>
                </td>
                <td class="p-0">
                  <a href="{% url 'timeseries_detail' station_id=station.id pk=t_id %}">
                    {% if t.start_date and t.end_date %}
                      {{ t.start_date|date:"SHORT_DATE_FORMAT" }} — {{ t.end_date|date:"SHORT_DATETIME_FORMAT" }}
                    {% endif %}
                  </a>
                </td>
              </tr>
            {% endwith %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="tab-no-data">{% trans "No time series exist" %}<p>
  {% endif %}
</div>
