{% extends "base.html" %}
{% load i18n %}

{% block mapjs %}
{#        <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"> #}
        <script src="{{ MEDIA_URL}}js/openlayers/OpenLayers.js">
        </script>

        <script type="text/javascript"
                src="http://openstreetmap.org/openlayers/OpenStreetMap.js">
        </script>
        <script type="text/javascript" src="{{ MEDIA_URL}}js/olmap-settings.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL}}js/olmap.js"></script>
{% endblock %}
