{% extends "enhydris/station_list_common.html" %}
{% load i18n %}
{% load sorting %}


{% block title %}
  {% trans 'Enhydris - Stations' %}
{% endblock %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="mapid"></div>
        <br>
        <p class="text-center"><a id="limit-to-map" class="btn btn-xs btn-primary" href="#" onclick="enhydris.mapModule.listStationsVisibleOnMap();">{% trans 'List stations visible on map' %}</a></p>
      </div>
      <div class="col-md-12">
        <hr>
        {% if object_list %}
          <div class="table-responsive">
            <table class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th>{% sorter "name" request.session.sort _("Name") %}</th>
                  <th>{% sorter "water_basin" request.session.sort _("Water basin") %}</th>
                  <th>{% sorter "owner" request.session.sort _("Owner") %}</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                  <tr>
                    <td><a href="{% url "station_detail" pk=object.id %}">{{ object.name }}</a></td>
                    <td>{{ object.water_basin|default_if_none:"" }}</td>
                    <td>{{ object.owner|default_if_none:"" }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <nav aria-label='Page navigation'>
            <ul class='pagination'>
              {% if page_obj.has_previous %}
                <li>
                  <a aria-label='{% trans 'Previous' %}' id='previous-page' href='?page={{ page_obj.previous_page_number }}'><span aria-hidden='true'>&laquo;</span></a>
                </li>
              {% else %}
                <li class='disabled'>
                  <a aria-label='{% trans 'Previous' %}' id='previous-page' href='#'><span aria-hidden='true'>&laquo;</span></a>
                </li>
              {% endif %}

              {% for i in 'x'|rjust:paginator.num_pages %}
                {% if page_obj.number == forloop.counter %}
                  <li class='active'>
                {% else %}
                  <li>
                {% endif %}
                <a href='?page={{ forloop.counter }}'>{{ forloop.counter }}</a></li>
              {% endfor %}

              {% if page_obj.has_next %}
                <li>
                  <a aria-label='{% trans 'Next' %}' id='next-page' href='?page={{ page_obj.next_page_number }}'><span aria-hidden='true'>&raquo;</span></a>
                </li>
              {% else %}
                <li class='disabled'>
                  <a aria-label='{% trans 'Next' %}' id='next-page' href='#'><span aria-hidden='true'>&raquo;</span></a>
                </li>
              {% endif %}
            </ul>
          </nav>
        {% else %}
          <p>{% trans "No entries found." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
