#mapcontainer{
    min-height: 810px;
    min-width: 100%;
    margin-top: 10px ;
    margin-bottom: 10px ;
    color: #333;
    font-family:Verdana,Arial,sans-serif;
}

#leftofmap{
    float: left;
    padding: 1em;
    border-right: 1px solid #FFF; 
    overflow:hidden;
	width:450px;
}

#mapcontent{
    height: 700px;
    margin: 10px 10px 10px 10px;
    padding: 1em 1em 1em 1em;
}

#map_data{
    height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
    border: 2px solid #999999;
}

.hide_extra{ 
    display:none;
}

#map_nav{
    height:32px;
    margin-top:20px;
    margin-bottom:10px;
    background-color:#DCDCDC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px solid #AAAAAA;
}

.collapse_expand_map{
    vertical-align: text-top;
}

.panel_togglers{
    cursor:pointer;
}

#map_toggle{
    padding:0 5px 0 0;
    float:right;
}

#panel_toggle{
    padding: 0 0 0 5px;
    float:left;
}

#station_table{
    min-width: 300px;
}

.pagination{
    font-size: 0.8em;
    float: left;
    margin-top: 2px;
}

.hidden {
    display:none;
}


#showStations{
    display:inline;
    padding-left: 20px;
}

.paging_full_numbers {
	width:450px;
	padding-top:0.5em;
}
