{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans 'Enhydris - GIS Objects' %}{% endblock %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load adminmedia %}

{% block js-globals %}
    <script type="text/javascript">var map_mode=11;
    </script>
{% endblock %}
{% block extracss %}
    <link media="screen" href="{{ MEDIA_URL }}css/tablesorter.css" type="text/css" rel="stylesheet">
    {% if use_open_layers %}
    <style type="text/css">
    #map {
        width: 560px;
        height: 440px;
        border: 1px solid #eee;
        z-index: 1;
    }
    </style>{% endif %}
{% endblock %}
{% block extra_head %}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.scrollTo-min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tipTip.minified.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.collapser.mod.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
//      $("table").tablesorter();
      });
</script>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block content %}
    
{#    {% autosort object_list %} #}
    {% autopaginate object_list 40 %}

    {% if use_open_layers %}
           <div style="float: right;">
                <div id="map" style="float: left;">
                <div id="map_progress" style="position: absolute; margin-top:212px; margin-left: 272px; z-index: 5000;"></div></div>
           </div>
    {% endif %}
<div style="float: left;">
<h2>
Structures list
</h2>
<fieldset style="margin: 20px 8px; padding: 15px 5px; width: 75%;" class="compact">
    <form action="" method="get">
    <table class="definition">
    <tr><th><label for="gtype" style="font-size: 9pt;">{% trans "Entity type" %}</label>
    </th><td>
    <select name="gtype" id="gtype">
         <option value="">---------</option>
         {% for item in gtypes %}
         <option value="{{ item.id }}" {% ifequal item.id|stringformat:'s' request.GET.gtype %}selected="selected"{% endifequal %}>
         {{item.descr}}</option>
         {% endfor %}
    </select></td></tr>
    <tr><th><label for"timeseries" style="font-size: 9pt;">{% trans "Display entities with time series only" %}</label>
    </th><td>
    <input type="checkbox" name="timeseries" value="True" {% ifequal 'true' request.GET.timeseries|lower %}checked="checked"{% endifequal %}/>
    </td></tr>
    <tr><td></td>
    <td><input type="submit" class="i16 submit" value="Submit"/></td>
    </tr>
  </table>
  </form>
</fieldset>
<fieldset style="margin: 20px 8px; padding: 15px 5px; width: 75%;" class="compact">
  <form action ="{% url gis_objects_list %}" method="get" id="search-structures-form">
    <input class="small" id="structures-search_input" value="{{ query|escape }}"
      placeholder="{% trans 'Search in structures by name, group etc' %}" name="q" size=40 />
      <input name="check" value="search" type="hidden" />
  </form>
</fieldset>
</div><div style="float: left; clear: both;">

<table class="definition tablesorter table_container">
<thead>
<tr>
<th>{% anchor id "id" %}</th>
<th>{% anchor name "Name" %}</th>
<th>{% anchor water_basin "Water Basin" %}</th>
<th>{% anchor political_division "Political Division" %}</th>
<th>{% anchor gtype "Type" %}</th>
<th>{% anchor extra_info "Extra information" %}</th>
</tr>
</thead>
<tbody>
{% for object in object_list %}
    {% with object.gis_model as gentity %}
            <tr class="{% cycle 'odd' 'even' as rowalts %}">
                <td>
                <a href="{% url gis_objects_detail gentity.id %}">
                {{ gentity.id }}</a>
                </td>
                <td>{{ gentity.name }}</td>
                <td>{{ gentity.water_basin.name }}</td>
                <td>{{ gentity.political_division.name }}</td>
                <td>{{ object.gtype.descr }}</td>
                <td>{{ gentity.extra_info }}</td>
            </tr>
    {% endwith %}
{% endfor %}
</tbody>
</table>
            {% paginate %}
</div>

{% endblock %}
