{% extends "common_detail.html" %}
{% load i18n %}
{% load permissions %}
{% block title %} {% trans 'Enhydris - Reservoir' %} - {%if object %}{{ object.name }} {% endif %}
{% endblock %}
{% block js-globals %}
    <script type="text/javascript">var map_mode=12;
      {% if object %}agentity_id={{object.id}}{% endif %}
    </script>
{% endblock %}
{% block gis_objects_section %}

    <p><h2>{% trans "Reservoir Details" %}
    </h2></p>

		{% if notifications %}
        <ul class="notifications">
                {% for message in notifications %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if object %}
        {% if use_open_layers %}
        <div>
            {% if object.mpoly %}<div id="map" style="float: right;">
            <div id="map_progress" style="position: absolute; margin-top:202px; margin-left: 232px; z-index: 5000;"></div>
            </div>{% endif %}
        <div>{% endif %} {# if use_open_layers #}    
        <table class="definition tablesorter table_container">
            <tr class="{% cycle 'odd' 'even' as rowalts %}">
                <th>{% trans 'ID' %}</th>
                <td colspan='2'>{{ object.id }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Name' %}</th>
                <td colspan='2'>{{ object.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Short Name' %}</th>
                <td colspan='2'>{{ object.short_name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Remarks' %}</th>
                <td colspan='2'>{{ object.remarks }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Basin' %}</th>
                <td colspan='2'>{{ object.water_basin.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Division' %}</th>
                <td colspan='2'>{{ object.water_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Political Division' %}</th>
                <td colspan='2'>{{ object.political_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Type id (Imported from GIS)' %}</th>
                <td colspan='2'>{{ object.entity_type }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Area (Imported from GIS)' %}</th>
                <td colspan='2'>{{ object.area }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Max volume' %}</th>
                <td colspan='2'>{{ object.volume_max }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Dead volume' %}</th>
                <td colspan='2'>{{ object.dead_volume }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Minimum inflow' %}</th>
                <td colspan='2'>{{ object.inflow_min }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Maximum inflow' %}</th>
                <td colspan='2'>{{ object.inflow_max }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Mean inflow' %}</th>
                <td colspan='2'>{{ object.inflow_mean }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Minimum runoff' %}</th>
                <td colspan='2'>{{ object.runoff_min }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Maximum runoff' %}</th>
                <td colspan='2'>{{ object.runoff_max }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Mean runoff' %}</th>
                <td colspan='2'>{{ object.runoff_mean }}</td>
            </tr>

        </table>

        {% endif %}

{% endblock gis_objects_section %}
