{% extends "common_detail.html" %}
{% load i18n %}
{% load permissions %}
{% block title %} {% trans 'Enhydris - Spring' %} - {%if object %}{{ object.name }} {% endif %}
{% endblock %}
{% block js-globals %}
    <script type="text/javascript">var map_mode=12;
      {% if object %}agentity_id={{object.id}}{% endif %}
    </script>
{% endblock %}
{% block  gis_objects_section %}

    <p><h2>{% trans "Spring Details" %}
    </h2></p>

		{% if notifications %}
        <ul class="notifications">
                {% for message in notifications %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% if object %}
        {% if use_open_layers %}
        <div>
            {% if object.point %}<div id="map" style="float: right;">
            <div id="map_progress" style="position: absolute; margin-top:202px; margin-left: 232px; z-index: 5000;"></div>
            </div>{% endif %}
        <div>{% endif %} {# if use_open_layers #}    
        <table class="definition tablesorter table_container">
            <tr class="{% cycle 'odd' 'even' as rowalts %}">
                <th>{% trans 'ID' %}</th>
                <td colspan='2'>{{ object.id }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Name' %}</th>
                <td colspan='2'>{{ object.name }}</td>
            </tr>
              <tr class="{% cycle rowalts %}">
                <th>{% trans 'Short Name' %}</th>
                <td colspan='2'>{{ object.short_name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Remarks' %}</th>
                <td colspan='2'>{{ object.remarks }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Basin' %}</th>
                <td colspan='2'>{{ object.water_basin.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water Division' %}</th>
                <td colspan='2'>{{ object.water_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Political Division' %}</th>
                <td colspan='2'>{{ object.political_division.name }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Abscissa' %}</th>
                <td colspan='2'>{{ object.gis_abscissa }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Ordinate' %}</th>
                <td colspan='2'>{{ object.gis_ordinate }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'SRID' %}</th>
                <td colspan='2'>{{ object.srid }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Approximate' %}</th>
                <td colspan='2'>{{ object.approximate }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Altitude' %}</th>
                <td colspan='2'>{{ object.altitude|floatformat:2 }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'ASRID' %}</th>
                <td colspan='2'>{{ object.asrid }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Spring type' %}</th>
                <td colspan='2'>{{ object.dstype.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Geological type' %}</th>
                <td colspan='2'>{{ object.hgeo_info.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water use' %}</th>
                <td colspan='2'>{{ object.water_use.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Water user' %}</th>
                <td colspan='2'>{{ object.water_user.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Land use' %}</th>
                <td colspan='2'>{{ object.land_use.descr }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Flow is continuous' %}</th>
                <td colspan='2'>{{ object.is_continuous|yesno:_("Yes,No") }}</td>
            </tr>
            <tr class="{% cycle rowalts %}">
                <th>{% trans 'Continuous flow (m3/h)' %}</th>
                <td colspan='2'>{{ object.continuous_flow }}</td>
            </tr>
        </table>

        {% endif %}


{% endblock gis_objects_section %}
