{% load static %}

<style>
  #wrapper {
    padding-top: 20px;
    padding-left: 10px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    margin: 35px auto;
  }

  #chart-line {
    position: relative;
    margin-top: -40px;
  }
</style>

<script>
  window.Promise ||
    document.write(
      '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
    );
  window.Promise ||
    document.write(
      '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
    );
  window.Promise ||
    document.write(
      '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
    );
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.min.js"></script>

<script type="text/javascript">
  var BASE_URL = `{% url "timeseries-chart" station_id=object.gentity.id timeseries_group_id=object.id pk=object.default_timeseries.id %}`;

  function debounce(func, wait, immediate) {
    let timeout;

    return function executedFunction() {
      const context = this;
      const args = arguments;

      const later = function () {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };

      const callNow = immediate && !timeout;

      clearTimeout(timeout);

      timeout = setTimeout(later, wait);

      if (callNow) func.apply(context, args);
    };
  }

  function refetch({ min, max }) {
    chartArea.updateSeries([
      {
        data: [],
      },
    ]);
    fetch(
      `${BASE_URL}?start_date=${new Date(min * 1000)
        .toISOString()
        .substring(0, 16)}&end_date=${new Date(max * 1000)
        .toISOString()
        .substring(0, 16)}`
    )
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        if (data && data[0]) {
          const mappedData = data.map((i) => [
            i.timestamp,
            Number(i.value) || 0,
          ]);
          chartArea.updateSeries([
            {
              data: mappedData,
            },
          ]);
          // chartLine.zoomX(min, max);
        }
      });
  }

  var debounceRefetch = debounce(refetch, 150);

  var options = {
    series: [
      {
        data: [],
      },
    ],
    noData: {
      text: "Loading...",
    },
    chart: {
      id: "chart2",
      type: "line",
      height: 230,
      zoom: {
        type: "x",
        enabled: true,
        autoScaleYaxis: true,
      },
      toolbar: {
        autoSelected: "zoom",
        tools: {
          reset: false,
        },
      },
      events: {
        zoomed: function (chartContext, { xaxis }) {
          refetch(xaxis);
        },
      },
    },
    colors: ["#546E7A"],
    stroke: {
      width: 2,
    },
    dataLabels: {
      enabled: false,
    },
    fill: {
      opacity: 1,
    },
    markers: {
      size: 0,
    },
    xaxis: {
      type: "datetime",
    },
  };

  var chartArea = new ApexCharts(
    document.querySelector("#chart-area"),
    options
  );
  chartArea.render();

  var optionsLine = {
    series: [
      {
        data: [],
      },
    ],
    chart: {
      id: "chart1",
      height: 130,
      type: "area",
      brush: {
        target: "chart2",
        enabled: true,
      },
      selection: {
        enabled: true,
      },
      events: {
        selection: function (chartContext, { xaxis }) {
          debounceRefetch(xaxis);
        },
      },
    },
    colors: ["#008FFB"],
    fill: {
      type: "gradient",
      gradient: {
        opacityFrom: 0.91,
        opacityTo: 0.1,
      },
    },
    xaxis: {
      type: "datetime",
      tooltip: {
        enabled: false,
      },
      labels: {
        show: true,
        datetimeFormatter: {
          year: "yyyy",
          month: "MMM 'yy",
          day: "dd MMM",
          hour: "HH:mm",
        },
      },
    },
    yaxis: {
      tickAmount: 2,
    },
  };

  var chartLine = new ApexCharts(
    document.querySelector("#chart-line"),
    optionsLine
  );
  chartLine.render();

  var renderError = function () {
    document.querySelector("#data_holder").innerHTML =
      "<h3>No data locally available!</h3>";
  };

  fetch(BASE_URL)
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
      if (data && data[0]) {
        const mappedData = data.map((i) => [i.timestamp, Number(i.value) || 0]);
        chartArea.updateSeries([
          {
            data: mappedData,
          },
        ]);
        chartLine.updateSeries([
          {
            data: mappedData,
          },
        ]);
      } else {
        renderError();
      }
    })
    .catch(function () {
      renderError();
    });
</script>
