{% extends "enhydris/base/main_with_map.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ object.get_name }} — {{ object.gentity }} — {{ block.super }}
{% endblock %}

{% block content%}
  <section class="station-detail">
    {% include "enhydris/station_detail/map.html" %}

    <div class="container station-info">
      <div class="station-info-header">
        <h1>{{ object.gentity.name }}</h1>

        <div>
          ϕ, λ = {{ object.gentity.geom.y | floatformat:5 }}, {{ object.gentity.geom.x | floatformat:5 }}
          {% if object.gentity.gpoint.original_srid != 4326 %}
            <p>
              {% blocktrans with srid=object.gentity.gpoint.original_srid x=object.gentity.gpoint.original_abscissa y=object.gentity.gpoint.original_ordinate %}
                (originally srid={{ srid }}, x={{ x }}, y={{ y }})
              {% endblocktrans %}
            </p>
          {% endif %}
          {% if object.gentity.gpoint.altitude != None %}
            z = {{ object.gentity.gpoint.altitude|floatformat:2 }}
          {% endif %}
        </div>
      </div>

      {% include "enhydris/timeseries_group_detail/breadcrumbs.html" %}

      <div class="station-info-main">
        <div class="station-timeseries-wrapper">
          <section class="station-timeseries">

            {% include "enhydris/timeseries_group_detail/details_table.html" %}
            {% include "enhydris/timeseries_group_detail/download.html" %}
          </section>
        </div>

        <div class="station-chart-wrapper">
          {% if object.timeseries_set.exists %}
            {% include "enhydris/timeseries_group_detail/chart.html" %}
          {% else %}
            <div class="alert alert-info" role="alert">
              {% trans "This time series group has no data yet." %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block map_js %}
  {{ block.super }}
  <script type="text/javascript">
    enhydris.mapMode = 'single-station';
    enhydris.agentityId = {{ object.gentity.id }};
  </script>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script>
    enhydris.strLoading = "{% trans 'Loading...'  %}";
    enhydris.strNoData = "{% trans 'No data' %}";
    enhydris.precision = parseInt("{{ object.precision }}");

    {% if object.default_timeseries %}
      enhydris.chartApiUrl = "{% url 'timeseries-chart' station_id=object.gentity.id timeseries_group_id=object.id pk=object.default_timeseries.id %}";
    {% endif %}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.19.3/apexcharts.min.js"></script>
  {% if object.default_timeseries %}
    <script>
      enhydris.chart.initialize();
    </script>
  {% endif %}
{% endblock %}
